<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" >
<head>
    <meta charset="utf-8">
    <title>卡券</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="plugins/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="plugins/font-awesome/css/font-awesome.min.css" media="all" rel="stylesheet">
    <link href="plugins/adjust/css/adjustLayui.css" media="all" rel="stylesheet">
    <link href="css/table.css" media="all" rel="stylesheet">
    <link href="css/form.css" media="all" rel="stylesheet">
    <link href="css/common.css" media="all" rel="stylesheet">
</head>
<body>
<div class="layui-fluid main">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="s-headerSearch" id="headArea">
                <form action="" autocomplete="off" class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">卡券名称</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="couponNameInput" placeholder="请输入卡券名称"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <button class="layui-btn layui-btn-warm" id="queryBtn">查询</button>
                            <button shiro:hasPermission="member:customParameters:coupon:add" class="layui-btn layui-btn-normal" id="addBtn">新增卡券</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- 展示表格 -->
            <div class="s-commonTable">
                <table shiro:hasPermission="member:customParameters:coupon:list" class="layui-hide" id="coupon" lay-filter="couponTable"></table>
                <script id="operation" type="text/html">
                    <a shiro:hasPermission="member:customParameters:coupon:edit" class="layui-btn layui-btn-xs layui-btn-warm" lay-event="modify">修改</a>
                    <a shiro:hasPermission="member:customParameters:coupon:relItem" class="layui-btn layui-btn-xs" lay-event="relate">关联消费项目</a>
                    <a shiro:hasPermission="member:customParameters:coupon:delete" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
                </script>
            </div>
        </div>
    </div>
</div>

<!-- 弹窗 -->
<div class="s-details" id="popUp">
    <form action="" autocomplete="off" class="layui-form">
        <div>
            <div class="layui-form-item s-formItem1">
                <div class="layui-inline">
                    <label class="layui-form-label"><i>*</i>卡券名称</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="couponName"
                               lay-verify="required" name="name" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label"><i>*</i>卡券类型</label>
                    <div class="layui-input-inline">
                        <select autocomplete="off" class="layui-input" id="couponType" name="type" type="text">
                            <option id="selectHead">正在拉取...</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="remark"
                               name="remark" type="text">
                    </div>
                </div>
            </div>
            <div class="layui-form-item s-formItem1">
                <div class="layui-inline">
                    <label class="layui-form-label"><i>*</i>单价</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="price"
                               lay-verify="number" value="0" name="unitPrice" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label"><i>*</i>成本价</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="costPrice"
                               lay-verify="number" value="0" name="costPrice" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">顺序号</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="orderID"
                               name="orderID" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="s-tabBottomButton">
            <button class="layui-btn" id="confirm" lay-filter="confirm" lay-submit type="button">确认</button>
            <button class="layui-btn layui-btn-warm" id="cancelAdd" type="button">取消</button>
        </div>
    </form>
</div>

<!-- 关联弹窗 -->
<div class="s-details" id="relWindow">
    <div class="s-commonTable">
        <table id="relTable"></table>
    </div>
    <div class="s-tabBottomButton">
        <button class="layui-btn layui-btn-danger" id="confirmRel" type="button">关联</button>
        <button class="layui-btn" id="cancelRel" type="button">取消</button>
    </div>
</div>

<script src="plugins/layui/layui.js"></script>
<script>
    layui.use(['form', 'laydate', 'table', 'layer', 'element'], function () {
        // utils
        {
            var $ = layui.jquery,
                form = layui.form,
                laydate = layui.laydate,
                layer = layui.layer,
                table = layui.table,
                element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

            //日期
            laydate.render({
                elem: '#date'
            });

            //从服务端拉取全部卡券类型
            function pullCouponTypes(selector, callback) {
                let selectE = $(selector);

                function errorAction() {
                    selectE.empty();
                    selectE.append("<option>拉取失败，请刷新！</option>");
                    form.render();
                }

                $.post({
                    url: "service/parameters/coupon/getCouponTypes",
                    timeout: 1000,
                    dataType: "json",
                    success: function (res) {
                        if (res.status !== "ok") {
                            errorAction();
                        } else {
                            selectE.empty();
                            let count = 0;
                            for (let s of res.types) {
                                selectE.append("<option value='" + count + "'>" + s + "</option>");
                                count += 1;
                            }
                            callback();
                            form.render();
                        }
                    },
                    error: function () {
                        errorAction();
                    }
                })
            }
        }

        // “卡券表格”渲染
        let itemCnt;
        let couponTable = table.render({
            elem: '#coupon',
            url: 'service/parameters/coupon/getCouponList?query=',
            toolbar: true, //仅开启工具栏，不显示左侧模板
            defaultToolbar: ['filter', 'print', 'exports'],
            height: 'full-100',
            page: {
                layout: ['prev', 'page', 'next', 'skip', 'count'], //自定义分页布局
                limit: 10,
                groups: 3, //只显示 1 个连续页码
                first: false, //不显示首页
                last: false //不显示尾页
            },
            cols: [ [
                {field: 'name', width: '8%', title: '卡券名称'},
                {field: 'type', width: '8%', title: '卡券类型'},
                {field: 'unitPrice', width: '6%', title: '单价'},
                {field: 'costPrice', width: '7%', title: '成本价'},
                {field: 'remark', width: '6%', title: '备注'},
                {field: 'createName', width: '7%', title: '创建人'},
                {field: 'createTime', width: '14%', title: '创建时间'},
                {field: 'lastEditName', width: '7%', title: '最后编辑人'},
                {field: 'lastEditTime', width: '14%', title: '最后编辑时间'},
                {field: 'couponId', hide: true},
                {field: 'operation', width: '200', title: '操作', toolbar: '#operation', fixed: 'right'}
            ]],
            size: 'sm',
            parseData: function (res) {
                let data = res.data
                itemCnt = data.length
                for (let i = 0; i < data.length; i++) {
                    data[i].type = data[i].type === 1 ? "储值" : "代金券"
                    $.post({
                        url: "service/platUserManage/getUserInfo?platUserId=" + data[i].createId,
                        async: false,
                        success: function (resp) {
                            data[i].createName = resp.name
                        }
                    })
                    $.post({
                        url: "service/platUserManage/getUserInfo?platUserId=" + data[i].lastEditId,
                        async: false,
                        success: function (resp) {
                            data[i].lastEditName = resp.name
                        }
                    })
                }
                res.data = data
                return res
            }
        });

        var projectsTable = table.render({
            id: "relTable",
            elem: "#relTable",
            height: 450,
            width: 500,
            page: false,
            url: "service/parameters/consumeProject/getConsumeProjectNameList?query=&consumeTypeId=",
            cols: [ [
                {type: 'checkbox', width: 70},
                {field: 'name', width: 420, title: '消费项目'},
            ]]
        })

        //监听“卡券表格”工具条
        var activeLine
        table.on('tool(couponTable)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            activeLine = obj.data; //获得当前行数据
            activeLine.type = activeLine.type === "储值" ? 1 : 0;
            var layEvent = obj.event;
            if (layEvent === 'delete') { // 用卡
                layer.confirm("确认删除卡券【" + activeLine.name + "】?", {icon: 3, title: '提示'}, function () {
                    $.post({
                        url: "/service/parameters/coupon/deleteCoupon",
                        data: JSON.stringify(activeLine),
                        contentType: "application/json",
                        success: function (res) {
                            if ("删除成功！" === res) {
                                layer.alert(res, {icon: 1}, () => {
                                    obj.del()
                                    itemCnt--
                                    if (itemCnt === 0) { //当前页的Item为0
                                        let nextPage;
                                        if (couponTable.config.page.curr === 1) //当前为第一页，则删除后还是第一页
                                            nextPage = couponTable.config.page.curr;
                                        else //删除后是前一页
                                            nextPage = couponTable.config.page.curr - 1;
                                        couponTable.reload({
                                            page: {
                                                curr: nextPage
                                            },
                                        })
                                    }
                                    layer.closeAll()
                                })
                            } else {
                                layer.alert(res, {icon: 2})
                            }
                        }
                    });
                })
            }
            if (layEvent === 'modify') {
                $("#couponType").attr("disabled", true)
                layer.open({
                    type: 1,
                    title: '修改卡券信息',
                    content: $('#popUp'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                    area: ['1022px', '225px']
                });
                pullCouponTypes("#couponType", function () {
                    //拉取卡券列表成功后，执行此回调函数填充原数据以供修改
                    $('#couponType').val(activeLine.type);
                    $('#couponName').val(activeLine.name);
                    $('#price').val(activeLine.unitPrice);
                    $('#costPrice').val(activeLine.costPrice);
                })
                form.on('submit(confirm)', function (data) {
                    function editAction() {
                        data.field.couponId = activeLine.couponId
                        delete data.field.type
                        $.post({
                            url: "service/parameters/coupon/editCoupon",
                            data: JSON.stringify(data.field),
                            contentType: "application/json",
                            success: function (res) {
                                if (res === "修改成功！")
                                    layer.alert("修改成功！", {icon: 1}, () => {
                                        obj.update(data.field);
                                        layer.closeAll()
                                    })
                                else
                                    layer.alert("修改失败！", {icon: 2})
                            }
                        })
                    }

                    if (data.field.costPrice === "0" && data.field.type === "0")
                        layer.confirm("确认成本价为 0 ？", {icon: 7}, editAction)
                    else editAction()
                })
            }
            if (layEvent === 'relate') {
                let loadMsg = layer.load(2)
                projectsTable.reload({
                    done: function (resAll) {
                        $.post({
                            url: "service/parameters/consumeProject/getConsumeProjectListByCoupon",
                            data: JSON.stringify(activeLine),
                            contentType: "application/json",
                            success: function (resRel) {
                                var i = 0;
                                for (var resA of resAll.data) {
                                    for (var resR of resRel) {
                                        if (resA.consumeProjectId === resR.consumeProjectId) {
                                            console.log(resA.consumeProjectId)
                                            resAll.data[i]["LAY_CHECKED"] = 'true';
                                            var index = resAll.data[i]['LAY_TABLE_INDEX'];
                                            $('tr[data-index=' + index + '] input[type="checkbox"]').prop('checked', true);
                                            $('tr[data-index=' + index + '] input[type="checkbox"]').next().addClass('layui-form-checked');
                                        }
                                    }
                                    i++;
                                }
                                layer.open({
                                    type: 1,
                                    title: '关联消费项目',
                                    content: $('#relWindow'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                                    area: ['530px', '620px']
                                });
                                layer.close(loadMsg)
                            },
                            error: function () {
                                layer.msg('加载失败！请刷新!', {time: 10000})
                            }
                        });
                    }
                })
            }
        });

        $("#addBtn").unbind("click").click(function () {
            $("#couponType").attr("disabled", false)
            $("#couponName").val("")
            $("#remark").val("")
            $("#price").val(0)
            $("#costPrice").val(0)
            $("#orderID").val("")
            pullCouponTypes("#couponType", () => {
                layer.open({
                    type: 1,
                    title: '新增卡券',
                    content: $('#popUp'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                    area: ['1022px', '225px']
                });
            })
            form.on('submit(confirm)', function (data) {
                function addAction() {
                    $.post({
                        url: "/service/parameters/coupon/addCoupon",
                        data: JSON.stringify(data.field),
                        contentType: "application/json",
                        success: function (res) {
                            if (res === "添加成功")
                                layer.alert("添加成功！", {icon: 1}, () => {
                                    couponTable.reload()
                                    layer.closeAll()
                                    console.log(couponTable)
                                })
                            else layer.alert(res, {icon: 2})
                        }
                    })
                }

                if (data.field.costPrice === "0" && data.field.type === "0")
                    layer.confirm("确认创建成本价为 0 的代金券？", {icon: 7}, addAction)
                else addAction()
            })
            return false;
        })

        $("#cancelAdd, #cancelRel").unbind("click").click(function () {
            layer.closeAll()
        })

        $("#confirmRel").unbind("click").click(function () {
            $.post({
                url: "service/parameters/coupon/relateConsumeProject",
                data: JSON.stringify({
                    "projects": table.checkStatus('relTable').data,
                    "coupon": activeLine
                }),
                contentType: "application/json",
                success: function (res) {
                    layer.alert(res)
                }
            })
        })

        $("#queryBtn").unbind("click").click(function () {
            couponTable.reload({
                url: 'service/parameters/coupon/getCouponList?query=' + $("#couponNameInput").val(),
                page: {
                    curr: 1
                }
            })
            return false;
        })
    });
</script>
</body>
</html>