<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" >

<head>
    <meta charset="utf-8">
    <title>险种</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="plugins/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="plugins/font-awesome/css/font-awesome.min.css" media="all" rel="stylesheet">
    <link href="plugins/adjust/css/adjustLayui.css" media="all" rel="stylesheet">
    <link href="css/table.css" media="all" rel="stylesheet">
    <link href="css/form.css" media="all" rel="stylesheet">
    <link href="css/common.css" media="all" rel="stylesheet">
</head>

<body>
<div class="layui-fluid main">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="s-headerSearch">
                <form action="" autocomplete="off" class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">险种名称</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="insuranceTypeInput" placeholder="请输入险种名称"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <button class="layui-btn layui-btn-warm" id="queryBtn">查询</button>
                            <button shiro:hasPermission="member:customParameters:insuranceType:add" class="layui-btn layui-btn-normal" id="add">新增险种</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- 展示表格 -->
            <div class="s-commonTable">
                <table shiro:hasPermission="member:customParameters:insuranceType:list" class="layui-hide" id="insuranceCompanies" lay-filter="insuranceTypeTable"></table>
                <script id="operation" type="text/html">
                    <a shiro:hasPermission="member:customParameters:insuranceType:edit" class="layui-btn layui-btn-warm layui-btn-xs" lay-event="mod">修改</a>
                    <a shiro:hasPermission="member:customParameters:insuranceType:delete" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
                </script>
            </div>
        </div>
    </div>
</div>

<!-- 险种弹窗 -->
<div class="s-details" id="popUp">
    <form action="" id="popUpForm" autocomplete="off" class="layui-form">
        <div>
            <div class="layui-form-item s-formItem1">
                <div class="layui-inline">
                    <label class="layui-form-label"><i>*</i>险种名称</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="name" name="name" lay-verify="required"
                               type="text">
                    </div>
                </div>
            </div>
            <div class="layui-form-item s-formItem1">
                <div class="layui-inline">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="remark" name="remark"
                               type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="s-tabBottomButton">
            <button class="layui-btn" id="confirmSub" lay-filter="confirmSub" lay-submit>确认</button>
            <button class="layui-btn layui-btn-warm" id="cancelSub">取消</button>
        </div>
    </form>
</div>

<script src="plugins/layui/layui.js"></script>
<script>
    layui.use(['form', 'table', 'layer', 'element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer,
            table = layui.table;

        // 显示“新增弹窗”
        $('#add').unbind("click").click(function () {
            $("#popUpForm").trigger("reset")
            layer.open({
                type: 1,
                title: '新增险种',
                content: $('#popUp'),
                area: ['400px', '225px'],
            });
            form.on('submit(confirmSub)', function (formData) {
                $.post({
                    url: "service/parameters/insuranceType/addInsuranceType",
                    data: JSON.stringify(formData.field),
                    contentType: "application/json",
                    success: function (res) {
                        if(res === "成功！")
                            layer.alert("成功！", {icon: 1}, () => {
                                layer.closeAll()
                                tableIns.reload();
                            })
                        else
                            layer.alert(res, {icon: 2})
                    }
                })
                return false;
            })
            return false;
        });

        // “会员档案表格”渲染
        let itemCnt;
        let tableIns = table.render({
            elem: '#insuranceCompanies',
            url: 'service/parameters/insuranceType/getInsuranceTypeList?query=',
            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['prev', 'page', 'next', 'skip', 'count'], //自定义分页布局
                limit: 15,
                groups: 3, //只显示 1 个连续页码
                first: false, //不显示首页
                last: false //不显示尾页
            },
            toolbar: true, //仅开启工具栏，不显示左侧模板
            height: 'full-100',
            defaultToolbar: ['filter', 'print', 'exports'],
            cols: [ [
                {field: 'name', width: 140, title: '险种'},
                {field: 'createName', width: 100, title: '创建人名称'},
                {field: 'createTime', width: 150, title: '创建时间'},
                {field: 'lastEditName', width: 100, title: '最后编辑人'},
                {field: 'lastEditTime', width: 150, title: '最后编辑时间'},
                {field: 'operation', width: 110, title: '操作', toolbar: '#operation', fixed: 'right'}
            ]],
            size: 'sm',
            parseData: function (res) {
                let data = res.data
                itemCnt = data.length
                for (let i = 0; i < data.length; i++) {
                    $.post({
                        url: "service/platUserManage/getUserInfo?platUserId=" + data[i].createId,
                        async: false,
                        success: function (resp) {
                            data[i].createName = resp.name
                        }
                    })
                    $.post({
                        url: "service/platUserManage/getUserInfo?platUserId=" + data[i].lastEditId,
                        async: false,
                        success: function (resp) {
                            data[i].lastEditName = resp.name
                        }
                    })
                }
                res.data = data
                return res
            }
        });
        //监听“会员档案表格”工具条
        table.on('tool(insuranceTypeTable)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent === 'mod') {
                $("#popUpForm").trigger("reset")
                $("#name").val(data.name);
                $("#remark").val(data.remark);
                layer.open({
                    type: 1,
                    title: '编辑险种',
                    content: $('#popUp'),
                    area: ['400px', '225px'],
                });
                form.on('submit(confirmSub)', function (formData) {
                    formData.field['id'] = data.id;
                    $.post({
                        url: "service/parameters/insuranceType/editInsuranceType",
                        data: JSON.stringify(formData.field),
                        contentType: "application/json",
                        success: function (res) {
                            if(res === "成功！")
                                layer.alert(res, {icon: 1},() => {
                                    layer.closeAll()
                                    obj.update(formData.field)
                                })
                            else
                                layer.alert(res, {icon: 2})
                        }
                    })
                    return false;
                })
            }
            else if (layEvent === 'delete') {
                layer.confirm('确认删除险种【' + data.name + '】？', {icon: 3, title: '提示'}, function (index) {
                    $.post({
                        url: "service/parameters/insuranceType/deleteInsuranceType",
                        data: {
                            id: data.id
                        },
                        success: function (res) {
                            if("删除成功！" === res)
                                layer.alert(res, {icon: 1}, (index) => {
                                    layer.close(index)
                                    tableIns.reload()
                                })
                            else
                                layer.alert("失败", {icon: 2});
                        }
                    })
                });
            }
        });

        $("#cancelSub").unbind("click").click(()=>{
            layer.closeAll()
            return false
        })

        $("#queryBtn").unbind("click").click(function () {
            tableIns.reload({
                url: 'service/parameters/insuranceType/getInsuranceTypeList?query=' + $("#insuranceTypeInput").val(),
                page: {
                    curr: 1
                }
            })
            return false;
        })
    });
</script>
</body>

</html>
