<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>卡券</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="plugins/adjust/css/adjustLayui.css" media="all">
    <link rel="stylesheet" href="css/table.css" media="all">
    <link rel="stylesheet" href="css/form.css" media="all">
    <link rel="stylesheet" href="css/common.css" media="all">
</head>
<body>
<div class="layui-fluid main">
    <div class="layui-row">
        <div class="layui-col-md12">

            <div class="s-headerSearch" id="headArea">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">卡券名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="cardNameInput" autocomplete="off" class="layui-input"
                                       placeholder="请输入卡券名称">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <button class="layui-btn layui-btn-warm">查询</button>
                            <button id="addBtn" class="layui-btn layui-btn-normal">添加卡券</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- 展示表格 -->
            <div class="s-commonTable">
                <table class="layui-hide" id="card" lay-filter="cardTabel"></table>
                <script type="text/html" id="operation">
                    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="modify">修改</a>
                    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
                    <a class="layui-btn layui-btn-xs" lay-event="relate">关联</a>
                </script>
            </div>
        </div>
    </div>
</div>

<!-- 添加卡券弹窗 -->
<div class="s-details" id="addWindow">
    <div>
        <form class="layui-form" action="">
            <div class="layui-form-item s-formItem5">
                <div class="layui-inline">
                    <label class="layui-form-label">卡券名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="cardName" id="cardName"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">卡券类型</label>
                    <div class="layui-input-inline">
                        <select type="text" id="cardType" name="cardType" autocomplete="off" class="layui-input">
                            <option id="selectHead">正在拉取...</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-inline">
                        <input type="text" name="remark" id="remark" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item s-formItem5">
                <div class="layui-inline">
                    <label class="layui-form-label">单价</label>
                    <div class="layui-input-inline">
                        <input type="text" name="price" id="price" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">成本价</label>
                    <div class="layui-input-inline">
                        <input type="text" name="costPrice" id="costPrice" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">顺序号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="orderID" id="orderID" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="s-tabBottomButton">
        <button type="button" class="layui-btn layui-btn-danger" id="confirmAdd">添加</button>
        <button type="button" class="layui-btn" id="cancelAdd">取消</button>
    </div>
</div>

<!-- 修改卡券弹窗 -->
<div class="s-details" id="modWindow">
    <div>
        <form class="layui-form" action="">
            <div class="layui-form-item s-formItem5">
                <div class="layui-inline">
                    <label class="layui-form-label">卡券名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="cardNameM" id="cardNameM"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">卡券类型</label>
                    <div class="layui-input-inline">
                        <select type="text" id="cardTypeM" name="cardTypeM" autocomplete="off" class="layui-input">
                            <option>正在拉取...</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-inline">
                        <input type="text" name="remarkM" id="remarkM" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item s-formItem5">
                <div class="layui-inline">
                    <label class="layui-form-label">单价</label>
                    <div class="layui-input-inline">
                        <input type="text" name="priceM" id="priceM" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">成本价</label>
                    <div class="layui-input-inline">
                        <input type="text" name="costPriceM" id="costPriceM" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">顺序号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="orderIDM" id="orderIDM" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="s-tabBottomButton">
        <button type="button" class="layui-btn layui-btn-danger" id="confirmMod">修改</button>
        <button type="button" class="layui-btn" id="cancelMod">取消</button>
    </div>
</div>

<!-- 关联卡券弹窗 -->
<div class="s-details" id="relWindow">
    <div class="s-commonTable">
        <table id="relTable"></table>
    </div>
    <div class="s-tabBottomButton">
        <button type="button" class="layui-btn layui-btn-danger" id="confirmRel">添加</button>
        <button type="button" class="layui-btn" id="cancelRel">取消</button>
    </div>
</div>

<script src="plugins/layui/layui.js"></script>
<script>
    layui.use(['form', 'laydate', 'table', 'layer', 'element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer,
            table = layui.table,
            element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //日期
        laydate.render({
            elem: '#date'
        });

        // “用卡表格”渲染
        var tableIns = table.render({
            elem: '#card',
            url: './datas/card.json',
            height: 'full-120',
            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['prev', 'page', 'next', 'skip', 'count'], //自定义分页布局
                limit: 15,
                //,curr: 5 //设定初始在第 5 页
                groups: 3, //只显示 1 个连续页码
                first: false, //不显示首页
                last: false //不显示尾页

            },
            cols: [[
                {type: 'checkbox'},
                {field: 'cardName', width: '8%', title: '卡券名称'},
                {field: 'cardType', width: '8%', title: '卡券类型'},
                {field: 'price', width: '8%', title: '单价'},
                {field: 'costPrice', width: '8%', title: '成本价'},
                {field: 'remark', width: '10%', title: '备注'},
                {field: 'orderID', width: '8%', title: '顺序号'},
                {field: 'creator', width: '8%', title: '创建人'},
                {field: 'creatTime', width: '10%', title: '创建时间'},
                {field: 'lastEditor', width: '8%', title: '最后编辑人'},
                {field: 'lastEditTime', width: '10%', title: '最后编辑时间'},
                {field: 'operation', width: '14%', title: '操作', toolbar: '#operation', fixed: 'right'}
            ]],
            size: 'sm'
        });

        //从服务端拉取全部卡券类型
        function pullCardTypes(selector, callback) {
            var selectE = $(selector);

            function errorAction() {
                selectE.empty();
                selectE.append("<option>拉取失败，请刷新！</option>");
                form.render();
            }

            $.post({
                url: "service/card/getCardTypes",
                timeout: 1000,
                dataType: "json",
                success: function (res) {
                    if (res.status !== "ok") {
                        errorAction();
                    } else {
                        selectE.empty();
                        for (var s of res.types) {
                            selectE.append("<option value='" + s + "'>" + s + "</option>");
                        }
                        callback();
                        form.render(); //layui的form重新渲染
                    }
                },
                error: function () {
                    errorAction();
                }
            })
        }

        //执行操作的卡券
        var activeCard
        //监听“卡券表格”工具条
        table.on('tool(cardTabel)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            // var page = data.page;
            // var limit = data.limit;
            activeCard = data.cardName; //data是当前行的数据，其中cardName是卡券名称
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值f）
            if (layEvent === 'delete') { // 用卡
                layer.confirm("确认删除？", function () {
                    $.post({
                        url: "/service/card/deleteCard",
                        data: {
                            cardName: activeCard
                        },
                        success: function (res) {
                            if (res !== "ok") {
                                layer.open({
                                    offset: "auto",//具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                                    content: '<div style="padding: 20px 70px;">' + '删除失败:' + res + '</div>',
                                    btn: '关闭',
                                    btnAlign: 'c',//按钮居中
                                    shade: 0, //不显示遮罩
                                    yes: function () {
                                        layer.closeAll();
                                    }
                                });
                            }
                        }
                    });
                })
            }
            if (layEvent === 'modify') {
                var index2 = layer.open({
                    type: 1,
                    title: '修改卡券信息',
                    content: $('#modWindow'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                    area: ['1022px', '225px']
                });
                pullCardTypes("#cardTypeM", function () {
                    //拉取卡券列表成功后，执行此回调函数填充原数据以供修改
                    $.post({
                        url: "service/card/getCardInfo",
                        timeout: 1000,
                        data: {
                            'cardName': activeCard
                        },
                        dataType: "json",
                        success: function (res) {
                            $('#cardTypeM').val(res.info.cardType);
                            $('#cardNameM').val(res.info.cardName);
                            form.render();
                        }
                    })
                })
            }
            if (layEvent === 'relate') {
                var index3 = layer.open({
                    type: 1,
                    title: '关联消费项目',
                    content: $('#relWindow'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                    area: ['530px', '620px']
                });
            }
        });

        var addWind;
        $("#addBtn").click(function () {
            addWind = layer.open({
                type: 1,
                title: '添加卡券',
                content: $('#addWindow'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                area: ['1022px', '225px']
            });
            pullCardTypes("#cardType", () => {
            })
            return false;
        })

        $("#cancelAdd, #cancelMod, #cancelRel").click(function () {
            console.log("cancel")
            layer.closeAll()
        })

        $("#confirmAdd").click(function () {
            $.post({
                url: "/service/card/addCard",
                data: JSON.stringify({
                    cardName: $("#cardName").val(),
                    cardType: $("#cardType").val(),
                    remark: $("#remark").val(),
                    price: $("#price").val(),
                    costPrice: $("#costPrice").val(),
                    orderID: $("#orderID").val()
                }),
                contentType: "application/json",
                success: function (res) {
                    console.log(res)
                }
            })
        })

        var modWind;
        $("#confirmMod").click(function () {
            $.post({
                url: "service/card/modCard",
                data: JSON.stringify({
                    cardName: $("#cardNameM").val(),
                    cardType: $("#cardTypeM").val(),
                    remark: $("#remarkM").val(),
                    price: $("#priceM").val(),
                    costPrice: $("#costPriceM").val(),
                    orderID: $("#orderIDM").val()
                }),
                contentType: "application/json",
                success: function (res) {
                    console.log(res)
                }
            })
        })

        table.render({
            id: "relTable",
            elem: "#relTable",
            height: 450,
            width: 500,
            page: false,
            url: "./datas/consumeItem.json",
            cols: [[
                {type: 'checkbox', width: 70},
                {field: 'consumeItem', width: 420, title: '消费项目'},
            ]],
        })

        $("#confirmRel").click(function () {
            $.post({
                url: "service/card/relateConsumeItem",
                data: JSON.stringify({
                    "selectedItems": table.checkStatus('relTable').data,
                    "selectedCard": activeCard
                }),
                contentType: "application/json",
                success: function (res) {
                    console.log(res)
                }
            })
        })
    });
</script>
</body>
</html>