<!DOCTYPE html>
<html lang="zh_CN"
>

<head>
    <meta charset="utf-8">
    <title>反结算</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="plugins/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="plugins/font-awesome/css/font-awesome.min.css" media="all" rel="stylesheet">
    <link href="plugins/adjust/css/adjustLayui.css" media="all" rel="stylesheet">
    <link href="css/table.css" media="all" rel="stylesheet">
    <link href="css/form.css" media="all" rel="stylesheet">
    <link href="css/common.css" media="all" rel="stylesheet">
</head>

<body>
<div class="layui-fluid main">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="s-headerSearch">
                <form action="" autocomplete="off" class="layui-form">
                    <div class="layui-form-item" id="formHead">
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">消费日期：</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="time" name="time" placeholder="请选择消费日期范围"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">客户名称：</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="userName" name="userName" placeholder="请输入客户名称"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">会员卡号：</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="userId" name="userId" placeholder="请输入会员卡号"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">车架号：</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="vin" name="vin" placeholder="请输入车架号"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">车牌号：</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="platenumber" name="platenumber" placeholder="请输入车牌号"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <button class="layui-btn layui-btn-warm" id="queryBtn">查询</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- 展示表格 -->
            <div class="s-commonTable">
                <table class="layui-hide" id="consumeList" lay-filter="cancelConsumeTabel"></table>
                <script id="operation" type="text/html">
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="rollBack">反结算</a>
                </script>
            </div>
        </div>
    </div>
</div>


<script src="plugins/layui/layui.js"></script>
<script>
    layui.use(['form', 'laydate', 'table', 'layer', 'element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate,
            table = layui.table,
            element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        laydate.render({
            elem: '#time'
            , type: 'datetime'
            , range: '到'
            , format: 'yyyy-M-d'
        });

        function layuiAlert(msg) {
            layer.open({
                offset: "auto",//具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                content: '<div style="padding: 20px 70px;">' + msg + '</div>',
                btn: '关闭',
                btnAlign: 'c',//按钮居中
                shade: 0, //不显示遮罩
                closeBtn: false,
                yes: function () {
                    layer.closeAll();
                }
            });
        }


        // “表格”渲染
        var tableIns = table.render({
            elem: '#consumeList',
            url: 'service/cancelConsume/getConsumeList',
            method: "post",
            where: {
                user: {},
                couponCheck: {},
                groupBy: true
            },
            contentType: "application/json",
            height: 'full-291',
            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['prev', 'page', 'next', 'skip', 'count'], //自定义分页布局
                limit: 15,
                //,curr: 5 //设定初始在第 5 页
                groups: 3, //只显示 1 个连续页码
                first: false, //不显示首页
                last: false //不显示尾页
            },
            toolbar: true, //仅开启工具栏，不显示左侧模板
            // defaultToolbar: ['exports'], //头部工具栏右侧图标
            defaultToolbar: ['filter', 'print', 'exports'],
            cols: [ [
                {field: 'time', width: 150, title: '消费日期'},
                {field: 'customername', width: 100, title: '客户名称'},
                {field: 'memberNumber', width: 160, title: '会员卡号'}, //单元格内容水平居中
                {field: 'vin', width: 160, title: '车架号'},
                {field: 'platenumber', width: 160, title: '车牌号'},
                {field: 'consumeTypeName', width: 100, title: '消费类型'},
                {field: 'consumeProjectName', width: 100, title: '消费项目'},
                {field: 'practicalProjectName', width: 100, title: '具体项目'},
                {field: 'payStyleName', width: 120, title: '支付方式'},
                {field: '**', width: 80, title: '工时费'},
                {field: '**', width: 80, title: '材料费'},
                {field: 'totalMoney', width: 100, title: '总金额'},
                {field: '**', width: 150, title: '工单号'},
                {field: '**', width: 80, title: '行驶里程'},
                {field: 'count', width: 100, title: '数量'},
                {field: '**', width: 100, title: '发票号'},
                {field: '**', width: 100, title: '开票金额'},
                {field: 'remark', width: 100, title: '项目备注'},
                {field: 'id', width: 100, title: 'id', hide: true},
                {field: 'operation', width: 80, title: '操作', toolbar: '#operation', fixed: 'right'}
            ]],
            size: 'sm',
            parseData: function (resp) {
                let data = resp.data;
                if (data) {
                    for (let i = 0; i < data.length; i++) {
                        console.log(data[i])
                        $.post({
                            url: "service/Archives/getUserInfo?userId=" + data[i].userId,
                            async: false,
                            success: function (res) {
                                data[i].customername = res.customername
                                data[i].memberNumber = res.memberNumber
                                data[i].vin = res.vehicle.vin
                                data[i].platenumber = res.vehicle.platenumber
                            }
                        })
                        $.post({
                            url: "service/practicalProject/getPracticalProject?practicalProjectId=" + data[i].practicalProjectId,
                            async: false,
                            success: function (res) {
                                data[i].practicalProjectName = res.practicalProjectName
                            }
                        })
                        {
                            if (data[i].payStyle === '-1')
                                data[i].payStyleName = '卡券发放'
                            else if (data[i].payStyle === '-2')
                                data[i].payStyleName = '储值'
                            else {
                                //TODO 异步请求卡券名称
                            }
                        }
                    }
                }
            }
        });
        //监听“会员档案表格”工具条
        table.on('tool(cancelConsumeTabel)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var userName = data.userId;
            if (layEvent === 'rollBack') {
                // console.log(data)
                layer.confirm('确认反结算客户名称为【' + userName + '】的账单？', {icon: 3, title: '提示'}, function (index) {
                    // 确定要反结算该消费单记录？
                    $.post({
                        url: "service/cancelConsume/rollBack",
                        data: {
                            id: data.id
                        },
                        success: function (res) {
                            layuiAlert(res)
                            tableIns.reload()
                        },
                        error: function () {
                            tableIns.empty();
                            tableIns.append("<option>反结算失败，请稍后再试！</option>");
                            form.render();
                        }
                    })
                });
            }
        });

        $("#queryBtn").unbind("click").click(function () {
            tableIns.reload({
                url: 'service/cancelConsume/getConsumeList',
                where: {
                    user: {
                        customername: $("#userName").val(),
                        memberNumber: $("#userId").val(),
                        Vehicle: {
                            vin: $("#vin").val(),
                            platenumber: $("#platenumber").val()
                        },
                    },
                    couponCheck: {
                        time: $("#time").val(),
                    },
                    groupBy: true
                },
                page: {
                    curr: 1
                }
            })
            return false;
        })
    });


</script>
</body>

</html>
