<!DOCTYPE html>
<html lang="zh_CN"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <title>消费项目</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="plugins/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="plugins/font-awesome/css/font-awesome.min.css" media="all" rel="stylesheet">
    <link href="plugins/adjust/css/adjustLayui.css" media="all" rel="stylesheet">
    <link href="css/table.css" media="all" rel="stylesheet">
    <link href="css/form.css" media="all" rel="stylesheet">
    <link href="css/common.css" media="all" rel="stylesheet">
</head>

<body>
<div class="layui-fluid main">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="s-headerSearch">
                <form action="" autocomplete="off" class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">消费项目</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="consumeProjInput" placeholder="请输入消费项目"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">所属消费类型</label>
                            <div class="layui-input-inline">
                                <select autocomplete="off" class="layui-input" id="consumeTypeInput" type="text">
                                    <option>正在拉取...</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <button class="layui-btn layui-btn-warm" id="queryBtn">查询</button>
                            <span class="layui-btn layui-btn-normal" id="add">新增消费项目</span>
                        </div>
                    </div>
                </form>
            </div>
            <!-- 展示表格 -->
            <div class="s-commonTable">
                <table class="layui-hide" id="consumeProj" lay-filter="consumeTypeTabel"></table>
                <script id="operation" type="text/html">
                    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">修改</a>
                    <a class="layui-btn layui-btn-xs" lay-event="rel">关联消费卡券</a>
                    <a class="layui-btn layui-btn-xs" lay-event="rel2">关联消费项目</a>
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="spe">具体项目</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
                </script>
            </div>
        </div>
    </div>
</div>

<!-- 消费项目弹窗 -->
<div class="s-details" id="addWindow">
    <div class="layui-form">
        <form action="" autocomplete="off" class="layui-form">
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div>
                        <div class="layui-form-item s-formItem1">
                            <div class="layui-inline">
                                <label class="layui-form-label"><i>*</i>项目名称</label>
                                <div class="layui-input-inline">
                                    <input autocomplete="off" class="layui-input" id="consumeProjectName" lay-verify="required"
                                           name="name"
                                           type="text">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"><i>*</i>消费类型</label>
                                <div class="layui-input-inline">
                                    <select autocomplete="off" class="layui-input" id="consumeTypeInputAdd"
                                            lay-verify="required" name="consumeTypeId"
                                            type="text">
                                        <option>正在拉取...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">开票金额</label>
                                <div class="layui-input-inline">
                                    <input autocomplete="off" class="layui-input" id="invoice"
                                           name="invoice"
                                           type="text">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item s-formItem1">
                            <div class="layui-inline">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-inline">
                                    <input autocomplete="off" class="layui-input" id="remark"
                                           name="remark"
                                           type="text">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"><i>*</i>是否消费</label>
                                <div class="layui-input-inline">
                                    <select autocomplete="off" class="layui-input" id="isConsume" lay-verify="required"
                                            name="isConsume"
                                            type="text">
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"><i>*</i>购买优惠项</label>
                                <div class="layui-input-inline">
                                    <select autocomplete="off" class="layui-input" id="buyReduce" lay-verify="required"
                                            name="buyReduce"
                                            type="text">
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item s-formItem1">
                            <div class="layui-inline">
                                <label class="layui-form-label"><i>*</i>允许使用积分</label>
                                <div class="layui-input-inline">
                                    <select autocomplete="off" class="layui-input" id="isAllowUseScore"
                                            lay-verify="required"
                                            name="isAllowUseScore"
                                            type="text">
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"><i>*</i>是否保养</label>
                                <div class="layui-input-inline">
                                    <select autocomplete="off" class="layui-input" id="maintain" lay-verify="required"
                                            name="maintain"
                                            type="text">
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"><i>*</i>是否维修</label>
                                <div class="layui-input-inline">
                                    <select autocomplete="off" class="layui-input" id="repair" lay-verify="required"
                                            name="repair"
                                            type="text">
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item s-formItem1">
                            <div class="layui-inline">
                                <label class="layui-form-label">计入可用积分</label>
                                <div class="layui-input-inline">
                                    <select autocomplete="off" class="layui-input" id="isAvailableScore"
                                            name="isAvailableScore"
                                            type="text">
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">计入累计积分</label>
                                <div class="layui-input-inline">
                                    <select autocomplete="off" class="layui-input" id="isAccumulativeScore"
                                            name="isAccumulativeScore"
                                            type="text">
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">积分比例</label>
                                <div class="layui-input-inline">
                                    <input autocomplete="off" class="layui-input" id="intRatio"
                                           name="scoreRatio"
                                           type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s-tabBottomButton">
                <button class="layui-btn" id="confirmAdd" lay-filter="confirmAdd" lay-submit>确认</button>
                <button class="layui-btn layui-btn-warm" id="cancelAdd">取消</button>
            </div>
        </form>
    </div>
</div>

<!-- 具体项目弹窗 -->
<div class="s-details" id="speWindow">
    <div class="layui-form">
        <div class="layui-tab-content">
            <table class="layui-hide" id="speProj" lay-filter="speProjTable"></table>
            <script id="operationSpe" type="text/html">
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
                <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">修改</a>
            </script>
            <div class="s-tabBottomButton">
                <span class="layui-btn layui-btn-normal" id="addSpeProj">新增具体项目</span>
            </div>
        </div>
    </div>
</div>

<!-- 具体项目详情弹窗 -->
<div class="s-details" id="addSpeWindow">
    <form id="speItemForm" autocomplete="off" class="layui-form">
        <div>
            <div class="layui-form-item s-formItem1">
                <div class="layui-inline">
                    <label class="layui-form-label">项目名称</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="name"
                               lay-verify="required" name="name" type="text">
                    </div>
                </div>
            </div>
            <div class="layui-form-item s-formItem1">
                <div class="layui-inline">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="remarkSpe"
                               name="remark" type="text">
                    </div>
                </div>
            </div>
            <div class="layui-form-item s-formItem1">
                <div class="layui-inline">
                    <label class="layui-form-label">对应卡券</label>
                    <div class="layui-input-inline">
                        <select autocomplete="off" class="layui-input" id="speProjCoupon" name="couponId" type="text">
                            <option>正在拉取...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item s-formItem1">
                <div class="layui-inline">
                    <label class="layui-form-label">数量</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="count"
                               lay-verify="number" value="0" name="count" type="text">
                    </div>
                </div>
            </div>
            <div class="layui-form-item s-formItem1">
                <div class="layui-inline">
                    <label class="layui-form-label">有效期(天)</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="indateValue"
                               lay-verify="number" value="0" name="indateValue" type="text">
                    </div>
                </div>
            </div>
            <div class="layui-form-item s-formItem1">
                <div class="layui-inline">
                    <label class="layui-form-label">多少天后开始</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="startIntervalDateValue"
                               lay-verify="number" value="0" name="startIntervalDateValue">
                    </div>
                </div>
            </div>
        </div>
        <div class="s-tabBottomButton">
            <button class="layui-btn" lay-filter="confirmAddSpe" lay-submit type="button">确认</button>
            <button class="layui-btn layui-btn-warm" id="cancelAddSpe" type="button">取消</button>
        </div>
    </form>
</div>

<!-- 关联弹窗 -->
<div class="s-details" id="relWindow">
    <div class="s-commonTable">
        <table id="relTable"></table>
    </div>
    <div class="s-tabBottomButton">
        <button class="layui-btn" id="confirmRel" lay-filter="confirmRel" lay-submit type="button">确认关联</button>
        <button class="layui-btn layui-btn-warm" id="cancelRel" type="button">取消</button>
    </div>
</div>

<script src="plugins/layui/layui.js"></script>
<script>
    layui.use(['form', 'table', 'layer', 'element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer,
            table = layui.table,
            element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
        {
            function layuiAlert(msg) {
                layer.open({
                    offset: "auto",//具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                    content: '<div style="padding: 20px 70px;">' + msg + '</div>',
                    btn: '关闭',
                    btnAlign: 'c',//按钮居中
                    shade: 0, //不显示遮罩
                    closeBtn: false,
                    yes: function () {
                        layer.closeAll();
                    }
                });
            }

            function pullCoupon(selector, callback) {
                var selectE = $(selector);
                $.get({
                    url: "service/coupon/getCouponNameList",
                    timeout: 1000,
                    dataType: "json",
                    success: function (res) {
                        res = res.data;
                        selectE.empty();
                        // selectE.append("<option value='" + -1 + "'>-</option>");
                        for (var s of res) {
                            selectE.append("<option value='" + s.couponId + "'>" + s.name + "</option>");
                        }
                        callback();
                        form.render(); //layui的form重新渲染
                    },
                    error: function () {
                        selectE.empty();
                        selectE.append("<option>拉取失败，请刷新！</option>");
                        form.render();
                    }
                })
            }

            function pullConsumeTypes(selector, generateAllOption, callback) {
                var selectE = $(selector);
                $.post({
                    url: "service/consumeType/getConsumeTypeList?query=&page=1&limit=2147483640",
                    timeout: 1000,
                    dataType: "json",
                    success: function (res) {
                        res = res.data;
                        selectE.empty();
                        if (generateAllOption)
                            selectE.append("<option value='-1'>" + "全部" + "</option>");
                        for (var s of res) {
                            selectE.append("<option value='" + s.consumeTypeId + "'>" + s.name + "</option>");
                        }
                        callback();
                        form.render(); //layui的form重新渲染
                    },
                    error: function () {
                        selectE.empty();
                        selectE.append("<option>拉取失败，请刷新！</option>");
                        form.render();
                    }
                })
            }
        }

        // “消费项目表格”渲染
        var tableProj = table.render({
            elem: '#consumeProj',
            url: 'service/consumeProject/getConsumeProjectList?query=&consumeType=',
            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['prev', 'page', 'next', 'skip', 'count'], //自定义分页布局
                limit: 15,
                groups: 3, //只显示 1 个连续页码
                first: false, //不显示首页
                last: false //不显示尾页
            },
            toolbar: true, //仅开启工具栏，不显示左侧模板
            height: 'full-100',
            defaultToolbar: ['filter', 'print', 'exports'],
            cols: [ [
                // {type: 'checkbox'},
                {field: 'name', width: 140, title: '消费项目'},
                // {field: 'indexID', width: 80, title: '顺序号'},
                {field: 'createName', width: 100, title: '创建人'},
                {field: 'createTime', width: 150, title: '创建时间'},
                {field: 'lastEditName', width: 100, title: '最后编辑人'},
                {field: 'lastEditTime', width: 150, title: '最后编辑时间'},
                {field: 'operation', width: 350, title: '操作', toolbar: '#operation', fixed: 'right'}
            ]],
            size: 'sm',
            parseData: function (res) {
                let data = res.data
                for (let i = 0; i < data.length; i++) {
                    $.post({
                        url: "service/platUserManage/getUserInfo?platUserId=" + data[i].createId,
                        async: false,
                        success: function (resp) {
                            data[i].createName = resp.name
                        }
                    })
                    $.post({
                        url: "service/platUserManage/getUserInfo?platUserId=" + data[i].lastEditId,
                        async: false,
                        success: function (resp) {
                            data[i].lastEditName = resp.name
                        }
                    })
                }
                res.data = data
                return res
            }
        });

        //监听“会员档案表格”工具条
        var activeProject;
        table.on('tool(consumeTypeTabel)', function (obj) {
            var data = obj.data; //获得当前行数据
            activeProject = data
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            var consumeProjectName = data.name;
            if (layEvent === 'edit') {
                layer.open({
                    type: 1,
                    title: '修改消费项目',
                    content: $('#addWindow'),
                    area: ['1020px', '700px']
                });
                pullConsumeTypes("#consumeTypeInputAdd", false, () => {
                    $("#consumeProjectName").val(data.name);
                    $("#consumeTypeInputAdd").val(data.consumeTypeId);
                    $("#isAccumulativeScore").val(data.isAccumulativeScore);
                    $("#isAvailableScore").val(data.isAvailableScore);
                    $("#isAllowUseScore").val(data.isAllowUseScore);
                })
                form.on('submit(confirmAdd)', function (formData) {
                    formData.field.consumeProjectId = activeProject.consumeProjectId
                    $.post({
                        url: "service/consumeProject/editConsumeProject",
                        data: JSON.stringify(formData.field),
                        contentType: "application/json",
                        success: function (res) {
                            layuiAlert("结果" + res)
                            obj.update(formData.field);
                        },
                        error: function () {
                            layuiAlert("修改失败")
                        }
                    })
                    return false
                })
            }
            else if (layEvent === 'delete') {
                layer.confirm('确认删除消费项目【' + consumeProjectName + '】？', {icon: 3, title: '提示'}, function (index) {
                    $.post({
                        url: "service/consumeProject/deleteConsumeProject",
                        data: {
                            id: data.consumeProjectId
                        },
                        success: function (res) {
                            layuiAlert(res)
                            if("删除成功！" === res)
                                obj.del()
                        },
                    });
                });
            }
            else if (layEvent === "spe") {
                layer.open({
                    type: 1,
                    title: '具体项目',
                    content: $('#speWindow'),
                    area: ['900px', '700px'],
                });
                var tableSpe = table.render({
                    elem: '#speProj',
                    url: "service/practicalProject/getPracticalProjectListByConsumeProject?consumeProjectId=" + data.consumeProjectId,
                    cols: [ [
                        // {type: 'checkbox'},
                        {field: 'name', width: 150, title: '项目名称'},
                        {field: 'couponName', width: 150, title: '对应卡券'},
                        {field: 'count', width: 150, title: '数量'},
                        {field: 'indateValue', width: 100, title: '有效天数'},
                        {field: 'startIntervalDateValue', width: 150, title: '多少天后开始'},
                        {field: 'remark', width: 150, title: '备注'},
                        {field: 'operation', width: 110, title: '操作', toolbar: '#operationSpe', fixed: 'right'}
                    ]],
                    size: 'sm',
                    parseData: function (res) {
                        let data = res.data
                        for (let i = 0; i < data.length; i++) {
                            $.post({
                                url: "service/practicalProject/getPracticalProject?practicalProjectId=" + data[i].practicalProjectId,
                                async: false,
                                success: function (resp) {
                                    data[i].couponName = resp.couponName
                                }
                            })
                        }
                        res.data = data
                        return res
                    }
                });
                // 显示“新增具体项目弹窗”
                $('#addSpeProj').unbind("click").click(function () {
                    pullCoupon("#speProjCoupon", () => {
                    })
                    $("#speItemForm").trigger("reset")
                    var addSpeWind = layer.open({
                        type: 1,
                        title: '新增具体项目',
                        content: $('#addSpeWindow'),
                        area: ['400px', '500px'],
                    });
                    form.on('submit(confirmAddSpe)', function (formData) {
                        formData.field.consumeProjectId = data.consumeProjectId;
                        $.post({
                            url: "service/practicalProject/addPracticalProject",
                            data: JSON.stringify(formData.field),
                            contentType: "application/json",
                            success: function (res) {
                                var x = layer.open({
                                    offset: "auto",//具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                                    content: '<div style="padding: 20px 70px;">' + '成功！' + '</div>',
                                    btn: '关闭',
                                    btnAlign: 'c',//按钮居中
                                    shade: 0, //不显示遮罩
                                    closeBtn: false,
                                    yes: function () {
                                        layer.close(x)
                                        layer.close(addSpeWind);
                                        tableSpe.reload()
                                    }
                                });
                            }
                        })
                    })
                    $('#cancelAddSpe').on('click', function () {
                        // 关闭当前弹出层
                        layer.close(addSpeWind);
                    });
                })

                table.on('tool(speProjTable)', function (obj) {
                    let data = obj.data
                    console.log(data)
                    if (obj.event === "delete") {
                        layer.confirm("确定删除具体项目【" + data.name + "】?", function () {
                            $.post({
                                url: "service/practicalProject/deletePracticalProject",
                                data: JSON.stringify(obj.data),
                                contentType: "application/json",
                                success: function (res) {
                                    var x = layer.open({
                                        offset: "auto",//具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                                        content: '<div style="padding: 20px 70px;">' + res + '</div>',
                                        btn: '关闭',
                                        btnAlign: 'c',//按钮居中
                                        shade: 0, //不显示遮罩
                                        closeBtn: false,
                                        yes: function () {
                                            layer.close(x)
                                            tableSpe.reload()
                                        }
                                    });
                                }
                            })
                        })
                    }
                    else if(obj.event === "edit") {
                        pullCoupon("#speProjCoupon", () => {
                            $("#speProjCoupon").val(data.couponId)
                        })
                        $("#name").val(data.name)
                        $("#remarkSpe").val(data.remark)
                        $("#startIntervalDateValue").val(data.startIntervalDateValue)
                        $("#indateValue").val(data.indateValue)
                        $("#count").val(data.count)
                        var addSpeWind = layer.open({
                            type: 1,
                            title: '修改具体项目',
                            content: $('#addSpeWindow'),
                            area: ['400px', '500px'],
                        });
                        $('#cancelAddSpe').on('click', function () {
                            // 关闭当前弹出层
                            layer.close(addSpeWind);
                        });
                        form.on('submit(confirmAddSpe)', function (formData) {
                            formData.field.practicalProjectId = data.practicalProjectId;
                            formData.field.consumeProjectId = data.consumeProjectId;
                            $.post({
                                url: "service/practicalProject/editPracticalProject",
                                data: JSON.stringify(formData.field),
                                contentType: "application/json",
                                success: function (res) {
                                    var x = layer.open({
                                        offset: "auto",//具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                                        content: '<div style="padding: 20px 70px;">' + res + '</div>',
                                        btn: '关闭',
                                        btnAlign: 'c',//按钮居中
                                        shade: 0, //不显示遮罩
                                        closeBtn: false,
                                        yes: function () {
                                            layer.close(x)
                                            layer.close(addSpeWind);
                                            obj.update(formData.field)
                                        }
                                    });
                                }
                            })
                        })
                    }
                })
            }
            else if (layEvent === "rel") {
                layer.msg('正在加载...')
                var relTable = table.render({
                    id: "relTable",
                    elem: "#relTable",
                    height: 450,
                    width: 500,
                    page: false,
                    url: "service/coupon/getCouponNameList",
                    cols: [ [
                        {type: 'checkbox', width: 70},
                        {field: 'name', width: 420, title: '消费卡券'},
                    ]]
                })
                relTable.reload({
                    done: function (resAll, page, count) {
                        $.post({
                            url: "service/coupon/getCouponListByConsumeProject",
                            data: JSON.stringify(data),
                            contentType: "application/json",
                            success: function (resRel) {
                                console.log(resRel)
                                var i = 0;
                                for (var resA of resAll.data) {
                                    for (var resR of resRel) {
                                        if (resA.couponId === resR.couponId) {
                                            resAll.data[i]["LAY_CHECKED"] = 'true';
                                            var index = resAll.data[i]['LAY_TABLE_INDEX'];
                                            $('tr[data-index=' + index + '] input[type="checkbox"]').prop('checked', true);
                                            $('tr[data-index=' + index + '] input[type="checkbox"]').next().addClass('layui-form-checked');
                                        }
                                    }
                                    i++;
                                }
                                layer.msg('加载完成', {time: 1000})
                                var relWindow = layer.open({
                                    type: 1,
                                    title: '关联消费卡券',
                                    content: $('#relWindow'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                                    area: ['530px', '620px']
                                });
                            },
                            error: function () {
                                layer.msg('加载失败！请刷新!', {time: 10000})
                            }
                        });
                    }
                })
                $("#confirmRel").unbind("click").on("click", function () {
                    $.post({
                        url: "service/consumeProject/relateCoupon",
                        data: JSON.stringify({
                            "coupons": table.checkStatus('relTable').data,
                            "consumeProjectId": data.consumeProjectId
                        }),
                        contentType: "application/json",
                        success: function (res) {
                            layuiAlert(res)
                        }
                    })
                })
                $("#cancelRel").unbind("click").click(function () {
                    layer.closeAll()
                })
            }
            else if (layEvent === "rel2") {
                layer.msg('正在加载...')
                var relTable2 = table.render({
                    id: "relTable",
                    elem: "#relTable",
                    height: 450,
                    width: 500,
                    page: false,
                    url: "service/consumeProject/getConsumeProjectNameList",
                    cols: [ [
                        {type: 'checkbox', width: 70},
                        {field: 'name', width: 420, title: '消费项目'},
                    ]]
                })
                relTable2.reload({
                    done: function (resAll, page, count) {
                        $.post({
                            url: "service/consumeProject/getRelateConsumeProject",
                            data: JSON.stringify(data),
                            contentType: "application/json",
                            success: function (resRel) {
                                console.log(resRel)
                                console.log(resAll)
                                var i = 0;
                                for (var resA of resAll.data) {
                                    for (var resR of resRel) {
                                        if (resA.consumeProjectId === resR.consumeProjectId) {
                                            resAll.data[i]["LAY_CHECKED"] = 'true';
                                            var index = resAll.data[i]['LAY_TABLE_INDEX'];
                                            $('tr[data-index=' + index + '] input[type="checkbox"]').prop('checked', true);
                                            $('tr[data-index=' + index + '] input[type="checkbox"]').next().addClass('layui-form-checked');
                                        }
                                    }
                                    i++;
                                }
                                layer.msg('加载完成', {time: 1000})
                                var relWindow = layer.open({
                                    type: 1,
                                    title: '关联消费项目',
                                    content: $('#relWindow'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                                    area: ['530px', '620px']
                                });
                            },
                            error: function () {
                                layer.msg('加载失败！请刷新!', {time: 10000})
                            }
                        });
                    }
                })
                $("#confirmRel").unbind("click").on("click", function () {
                    $.post({
                        url: "service/consumeProject/relateConsumeProject",
                        data: JSON.stringify({
                            "project": activeProject,
                            "projects": table.checkStatus('relTable').data
                        }),
                        contentType: "application/json",
                        success: function (res) {
                            layuiAlert(res)
                        }
                    })
                })
                $("#cancelRel").unbind("click").click(function () {
                    layer.closeAll()
                })
            }
        });

        {
            pullConsumeTypes("#consumeTypeInput", true, () => {
            });
            $('#cancelAdd').on('click', function () {
                layer.closeAll();
                return false;
            });
            // 显示“新增弹窗”
            $('body').unbind("click").on('click', '#add', function () {
                $("#consumeProjectName").val("")
                $("#invoice").val("")
                $("#remark").val("")
                $("#intRatio").val("")
                pullConsumeTypes("#consumeTypeInputAdd", false, () => {
                })
                layer.open({
                    type: 1,
                    title: '新增消费项目',
                    content: $('#addWindow'),
                    area: ['1020px', '700px'],
                });
                form.on('submit(confirmAdd)', function (formData) {
                    $.post({
                        url: "service/consumeProject/addConsumeProject",
                        data: JSON.stringify(formData.field),
                        contentType: "application/json",
                        success: function (res) {
                            layuiAlert("结果" + res)
                            tableProj.reload()
                        }
                    })
                    return false
                })
                return false
            });
            $("#queryBtn").unbind("click").click(function () {
                tableProj.reload({
                    url: 'service/consumeProject/getConsumeProjectList?query=' + $("#consumeProjInput").val() + '&consumeType=' + $("#consumeTypeInput").val(),
                    page: {
                        curr: 1
                    }
                })
                return false;
            });
        }
    });
</script>
</body>

</html>
