<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <title>卡券统计</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="plugins/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="plugins/font-awesome/css/font-awesome.min.css" media="all" rel="stylesheet">
    <link href="plugins/adjust/css/adjustLayui.css" media="all" rel="stylesheet">
    <link href="css/table.css" media="all" rel="stylesheet">
    <link href="css/form.css" media="all" rel="stylesheet">
    <link href="css/common.css" media="all" rel="stylesheet">
</head>

<body>
<div class="layui-fluid main">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="s-headerSearch">
                <form action="" autocomplete="off" class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">消费日期：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" id="time" name="time" placeholder="请选择消费日期范围" type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">车牌号：</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="platenumber" name="platenumber" placeholder="请输入车牌号"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">车架号：</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="vin" name="vin" placeholder="请输入车架号"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">客户名称：</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="customername" name="customername" placeholder="请输入客户名称"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">会员卡号：</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="memberNumber" name="memberNumber" placeholder="请输入会员卡号"
                                       type="text">
                            </div>
                        </div>
<!--                        接口有意忽略卡券的检索条件，故注释。-->
<!--                        <div class="layui-inline s-layuiInline">-->
<!--                            <label class="layui-form-label">卡券：</label>-->
<!--                            <div class="layui-input-inline">-->
<!--                                <select autocomplete="off" class="layui-input" id="couponType" name="type" type="text">-->
<!--                                    <option id="selectHead">正在拉取...</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="layui-inline s-layuiInline">
                            <button class="layui-btn layui-btn-warm" id="queryBtn">查询</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- 展示表格 -->
            <div class="s-commonTable">
                <table class="layui-hide" id="tableMain" lay-filter="tableMain"></table>
            </div>
        </div>
    </div>
</div>




<script src="plugins/layui/layui.js"></script>
<script>
    layui.use(['form', 'table', 'laydate'], function() {
        // tableMain表格
        var $ = layui.jquery,
            form = layui.form,
            tableMain = layui.table,
            laydate = layui.laydate;
        laydate.render({
            elem: '#time'
            , type: 'date'
            , range: '@'
            , format: 'yyyy-MM-dd'
        });

        // 表格渲染
        var tableIns = tableMain.render({
             elem: '#tableMain'
            ,height: 'full-180'
            ,size: 'sm' //小尺寸的表格
            ,url: 'service/statistics/couponStatistical/getCouponStatisticalList' //数据接口
            ,method: "post"
            ,contentType: "application/json"
            ,where: {
                couponCheck: {},
                user: {
                    vehicle: {},
                },
                groupBy: false
            }
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                    layout: ['prev', 'page', 'next', 'skip', 'count'], //自定义分页布局
                    limit: 15,
                    //,curr: 5 //设定初始在第 5 页
                    groups: 3, //只显示 1 个连续页码
                    first: false, //不显示首页
                    last: false //不显示尾页
                }
            ,toolbar: true //仅开启工具栏，不显示左侧模板
            ,defaultToolbar: ['filter', 'print', 'exports'] //头部工具栏右侧图标
            ,cols: [ [ //表头，两个中括号之间一定要加空格不然会出错，有冲突
                 {type: 'checkbox', fixed: 'left'}
                ,{field: 'customername', title: '客户名称', width:150, sort: true}
                ,{field: 'memberNumber', title: '会员卡号', width:200, sort: true}
                ,{field: 'vin', title: '车架号', width:200, sort: true}
                ,{field: 'platenumber', title: '车牌号', width:150, sort: true}
                ,{field: 'couponName', title: '卡券', width: 150, sort: true}
                ,{field: 'rechargeTimes', title: '充值次数', width: 150, sort: true}
                ,{field: 'usageTimes', title: '使用次数', width: 150, sort: true}
                ,{field: 'remainingTimes', title: '剩余次数', width: 150, sort: true}
            ] ]
        });

        $("#queryBtn").unbind("click").click(function () {
            tableIns.reload({
                url: 'service/statistics/couponStatistical/getCouponStatisticalList',
                where: {
                    couponCheck: {
                        time: $("#time").val().replace(/ @ /, "@")
                    },
                    user: {
                        vehicle: {
                            platenumber: $("#platenumber").val(),
                            vin: $("#vin").val()
                        },
                        customername: $("#customername").val(),
                        memberNumber: $("#memberNumber").val()
                    },
                    groupBy: true
                },
                page: {
                    curr: 1
                }
            })
            return false;


        })


    });
</script>
</body>
</html>