<!DOCTYPE html>
<html lang="zh_CN"
>
<head>
    <meta charset="utf-8">
    <title>会员级别</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="plugins/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="plugins/font-awesome/css/font-awesome.min.css" media="all" rel="stylesheet">
    <link href="plugins/adjust/css/adjustLayui.css" media="all" rel="stylesheet">
    <link href="css/table.css" media="all" rel="stylesheet">
    <link href="css/form.css" media="all" rel="stylesheet">
    <link href="css/common.css" media="all" rel="stylesheet">
</head>
<body>
<!--页面主体-->
<div class="layui-fluid main">
    <div class="layui-row">
        <div class="layui-col-md12">

            <div class="s-headerSearch" id="headArea">
                <form action="" autocomplete="off" class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">卡片名称</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="cardNameInput" name="cardNameInput"
                                       placeholder="请输入卡片名称"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <button class="layui-btn layui-btn-warm" id="queryBtn">查询</button>
                            <button class="layui-btn layui-btn-normal" id="addBtn">添加卡片</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- 展示表格 -->
            <div class="s-commonTable">
                <table class="layui-hide" id="card" lay-filter="cardTabel"></table>
                <script id="operation" type="text/html">
                    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="modify">修改</a>
                    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
                </script>
            </div>
        </div>
    </div>
</div>

<!-- 添加卡片弹窗 -->
    <div class="s-details" id="addWindow">
            <form action="" autocomplete="off" class="layui-form" id="test">
                <div class="layui-form-item s-formItem5">
                    <div class="layui-inline">
                        <label class="layui-form-label"><i>*</i>会员级别</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input" lay-verify="required|number"
                                   id="level" name="level" type="text">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"><i>*</i>卡片名称</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input" lay-verify="required"
                                   id="name" name="name" type="text">
                            <!--                        <select type="text" id="cardType" name="cardType" autocomplete="off" class="layui-input">-->
                            <!--                            <option id="selectHead">正在拉取...</option>-->
                            <!--                        </select>-->
                        </div>
                    </div>
                    <!--                <div class="layui-inline">-->
                    <!--                    <label class="layui-form-label">卡片等级</label>-->
                    <!--                    <div class="layui-input-inline">-->
                    <!--                        <input type="text" name="type" id="type" autocomplete="off" class="layui-input">-->
                    <!--                    </div>-->
                    <!--                </div>-->
                    <div class="layui-inline">
                        <label class="layui-form-label"><i>*</i>卡片类型</label>
                        <div class="layui-input-inline">
                            <select id="type" name="type">
                                <option value="0">可升级</option>
                                <option value="1">不可升级</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item s-formItem5">
                    <div class="layui-inline">
                        <label class="layui-form-label">升级锁定</label>
                        <div class="layui-input-inline">
                            <select autocomplete="off" class="layui-input" id="lock" name="lock" type="text">
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"><i>*</i>升级所需积分</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input" lay-verify="number|required" id="score" name="score" type="text">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input" id="remark" name="remark" type="text">
                        </div>
                    </div>
                </div>
                <div class="s-tabBottomButton">
                    <button class="layui-btn layui-btn-danger" id="confirmAdd" lay-filter="confirmAdd" lay-submit type="button">
                        添加
                    </button>
                    <button class="layui-btn" id="cancelAdd" type="button">取消</button>
                </div>
            </form>
    </div>
<!-- 修改卡片弹窗 -->

    <div class="s-details" id="modWindow">
        <div>
            <form action="" autocomplete="off" class="layui-form">
                <div class="layui-form-item s-formItem5">
                    <div class="layui-inline">
                        <label class="layui-form-label"><i>*</i>会员级别</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input" lay-verify="number|required"
                                   id="levelM" name="level" type="text">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"><i>*</i>卡片名称</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input" lay-verify="required"
                                   id="nameM" name="name" type="text">
                        </div>
                    </div>
                    <!--                <div class="layui-inline">-->
                    <!--                    <label class="layui-form-label">卡片等级</label>-->
                    <!--                    <div class="layui-input-inline">-->
                    <!--                        <input type="text" name="typeM" id="typeM" autocomplete="off" class="layui-input">-->
                    <!--                    </div>-->
                    <!--                </div>-->
                    <div class="layui-inline">
                        <label class="layui-form-label"><i>*</i>卡片类型</label>
                        <div class="layui-input-inline">
                            <select id="cardTypeM" name="type">
                                <option value="0">可升级</option>
                                <option value="1">不可升级</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item s-formItem5">
                    <div class="layui-inline">
                        <label class="layui-form-label">升级锁定</label>
                        <div class="layui-input-inline">
                            <select autocomplete="off" class="layui-input" id="lockM" name="lock" type="text">
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"><i>*</i>升级所需积分</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input" lay-verify="number|required" id="scoreM" name="score" type="text">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input" id="remarkM" name="remark" type="text">
                        </div>
                    </div>
                </div>
                <div class="s-tabBottomButton">
                    <button class="layui-btn layui-btn-danger" id="confirmMod" lay-filter="confirmMod" lay-submit type="button">
                        修改
                    </button>
                    <button class="layui-btn" id="cancelMod" type="button">取消</button>
                </div>
            </form>
        </div>
    </div>

<script src="plugins/layui/layui.js"></script>
<script>
    layui.use(['form', 'laydate', 'table', 'layer', 'element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer,
            table = layui.table;

        //日期
        laydate.render({
            elem: '#date'
        });


        function layuiAlert(msg, callback) {
            layer.open({
                offset: "auto",//具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                content: '<div style="padding: 20px 70px;">' + msg + '</div>',
                btn: '关闭',
                btnAlign: 'c',//按钮居中
                shade: 0, //不显示遮罩
                closeBtn: false,
                yes: function () {
                    layer.closeAll();
                    callback()
                    $('#test').trigger('reset');
                }
            });
        }

        // “主体表格”渲染
        let itemCnt;
        let tableIns = table.render({
            elem: '#card',
            url: 'service/parameters/membershipLevel/getMemberList?query=',
            height: 'full-100',
            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['prev', 'page', 'next', 'skip', 'count'], //自定义分页布局
                limit: 15,
                //,curr: 5 //设定初始在第 5 页
                groups: 3, //只显示 1 个连续页码
                first: false, //不显示首页
                last: false //不显示尾页

            },
            cols: [ [
                {type: 'checkbox'},
                {field: 'level', width: '7%', title: '会员级别'},
                {field: 'name', width: '10%', title: '卡片名称'},
                {field: 'type', width: '7%', title: '卡片类型'},
                {field: 'lock', width: '8%', title: '升级锁定'},
                {field: 'score', width: '10%', title: '升级所需积分'},
                {field: 'remark', width: '8%', title: '备注'},
                {field: 'creator', width: '8%', title: '创建人'},
                {field: 'creatTime', width: '10%', title: '创建时间'},
                {field: 'lastEditor', width: '8%', title: '最后编辑人'},
                {field: 'lastEditTime', width: '11%', title: '最后编辑时间'},
                {field: 'id', width: '7%', title: 'id', hide: true},
                {field: 'operation', width: '13%', title: '操作', toolbar: '#operation', fixed: 'right'}
            ]],
            size: 'sm',
            parseData: function (res) {
                var cType = ["可升级卡", "不可升级卡"];
                var cLock = ["是", "否"];
                itemCnt = res.data.length
                for (var i = 0; i < res.data.length; i++) {
                    res.data[i].type = cType[res.data[i].type];
                    res.data[i].lock = cLock[res.data[i].lock];
                    res.data[i].score = res.data[i].memberUpgradeCon.score;
                    // if(res.data[i].cBirthday==null)
                    //     res.data[i].cBirthday="";
                    // if(res.data[i].cCard==null)
                    //     res.data[i].cCard="";
                    // if(res.data[i].phone==null)
                    //     res.data[i].phone="";
                }
                // added by yz, 如果传过来Id，就自动显示
                {
                    let data = res.data
                    for (let i = 0; i < data.length; i++) {
                        $.post({
                            url: "service/platUserManage/getUserInfo?platUserId=" + data[i].createId,
                            async: false,
                            success: function (resp) {
                                data[i].createName = resp.name
                            }
                        })
                        $.post({
                            url: "service/platUserManage/getUserInfo?platUserId=" + data[i].lastEditId,
                            async: false,
                            success: function (resp) {
                                data[i].lastEditName = resp.name
                            }
                        })
                    }
                    res.data = data
                }
                return res
            }
        });


        //执行操作的卡片
        var activeCardid
        var objtem
        //监听“卡片表格”工具条
        table.on('tool(cardTabel)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            objtem= obj;
            // var page = data.page;
            // var limit = data.limit;
            activeCardid = data.id; //data是当前行的数据，其中activeCardid是卡片id
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值f）
            if (layEvent === 'delete') {
                layer.confirm("确认删除？", function () {
                    $.post({
                        url: "/service/parameters/membershipLevel/deleteMember",
                        data: {
                            id: activeCardid
                        },
                        success: function (res) {
                            // console.log(res);
                            if (res == "修改成功") {
                                // console.log("非空成功！");
                                layuiAlert("删除成功！", () => {
                                    obj.del()
                                    itemCnt--
                                    if(itemCnt === 0) { //当前页的Item为0
                                        let nextPage;
                                        if(tableIns.config.page.curr === 1) //当前为第一页，则删除后还是第一页
                                            nextPage = tableIns.config.page.curr;
                                        else //删除后是前一页
                                            nextPage = tableIns.config.page.curr - 1;
                                        tableIns.reload({
                                            page: {
                                                curr: nextPage
                                            },
                                        })
                                    }
                                })
                            }
                            else {
                                // console.log("为空失败！");
                                layuiAlert("删除失败！", () => {
                                    // obj.reload(data);
                                })
                            }




                        }
                    });
                })
            }
            if (layEvent === 'modify') {
                layer.open({
                    type: 1,
                    title: '修改信息',
                    content: $('#modWindow'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                    area: ['1022px', '320px']
                });
                console.log(data.type);
                console.log(data.lock);
                var mtype = data.type === "可升级卡" ? "0" : "1";
                var mlock = data.lock === "是" ? "0" : "1";
                $('#levelM').val(data.level);
                $('#nameM').val(data.name);
                $('#cardTypeM').val(mtype);
                $('#lockM').val(mlock);             //获取修改行的数据
                $('#scoreM').val(data.memberUpgradeCon.score);
                form.render();
                form.on('submit(confirmMod)', function (data) {
                    data.field.id = activeCardid
                    data.field.memberUpgradeCon = {
                        score: data.field.score
                    }
                    $.post({
                        url: "service/parameters/membershipLevel/editMember",
                        data: JSON.stringify(data.field),
                        contentType: "application/json",
                        success: function (res) {
                            var m,n
                            data.field.type=m=== "0" ? "可升级卡" : "不可升级卡";
                            data.field.lock=n=== "0" ? "是" : "否";
                            layer.closeAll();
                            // console.log(res);
                            if (Object.keys(res).length != 0) {
                                // console.log("非空修改成功！");
                                layuiAlert("修改成功！", () => {
                                    obj.update(data.field);
                                })
                            }
                            else {
                                // console.log("为空修改失败！");
                                layuiAlert("修改失败！", () => {
                                    // obj.reload(data);
                                })
                            }



                        }
                    })
                })
            }
        });

        var addWind;
        $("#addBtn").unbind("click").click(function () {
            $('#test').trigger('reset');
            addWind = layer.open({
                type: 1,
                title: '添加信息',
                content: $('#addWindow'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                area: ['900px', '300px']
            });
            return false;
        })

        $("#cancelAdd, #cancelMod, #cancelRel").unbind("click").click(function () {
            $('#test').trigger('reset');
            console.log("cancel")
            layer.closeAll()
        })

        form.on('submit(confirmAdd)', function (data) {
            data.field.memberUpgradeCon = {
                score: data.field.score
            }
            $.post({
                url: "/service/parameters/membershipLevel/addMember",
                data: JSON.stringify(data.field),
                contentType: "application/json",
                success: function (res) {
                    layuiAlert("信息:" + res, () => {
                        tableIns.reload()
                    })
                },
                error: function (res) {
                    layuiAlert("新增失败" + res)
                }
            })
        })

        $("#queryBtn").unbind("click").click(function () {
            tableIns.reload({
                url: 'service/parameters/membershipLevel/getMemberList?query=' + $("#cardNameInput").val(),
                page: {
                    curr: 1
                },
                size: 'sm',
            })
            return false;
        })
    });
</script>
</body>
</html>