<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <title>用卡历史</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="plugins/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="plugins/font-awesome/css/font-awesome.min.css" media="all" rel="stylesheet">
    <link href="plugins/adjust/css/adjustLayui.css" media="all" rel="stylesheet">
    <link href="css/table.css" media="all" rel="stylesheet">
    <link href="css/form.css" media="all" rel="stylesheet">
    <link href="css/common.css" media="all" rel="stylesheet">
</head>

<body>
<div class="layui-fluid main">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="s-headerSearch">
                <form action="" autocomplete="off" class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">消费日期：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" id="time" name="time" placeholder="请选择消费日期范围" type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">车牌号：</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="platenumber" name="platenumber"
                                       placeholder="请输入车牌号"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">车架号：</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="vin" name="vin" placeholder="请输入车架号"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">客户名称：</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="customername" name="customername"
                                       placeholder="请输入客户名称"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">会员卡号：</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="memberNumber" name="memberNumber"
                                       placeholder="请输入会员卡号"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <button class="layui-btn layui-btn-warm" id="queryBtn">查询</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- 展示表格 -->
            <div class="s-commonTable">
                <table class="layui-hide" id="tableMain" lay-filter="tableMain"></table>
                <script id="operation" type="text/html">
                    <a class="layui-btn layui-btn-xs" lay-event="showBill">查看原单</a>
                </script>
            </div>
        </div>
    </div>
</div>


<!-- 显示原单弹窗 -->
<div class="s-details" id="showBillWindow">
    <form action="" autocomplete="off" class="layui-form">
        <div class="layui-form-item s-formItem6">
            <div class="layui-inline">
                <label class="layui-form-label">消费日期</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" disabled class="layui-input" id="time2" lay-verify="time|required"
                           name="time"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">车牌号</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" disabled class="layui-input" id="platenumberPop"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">车架号</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" disabled class="layui-input" id="vinPop" name="vin"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">客户姓名</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" disabled id="customernamePop"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">会员卡号</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" disabled id="memberNumberPop"
                           type="text" style="width: 150px">
                </div>
            </div>
        </div>
        <div class="layui-form-item s-formItem6">
            <div class="layui-inline">
                <label class="layui-form-label">会员级别</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" disabled id="memberlevelPop"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">消费类型</label>
                <div class="layui-input-inline">
                    <select autocomplete="off" disabled class="layui-input" id="consumeTypeId"
                            lay-filter="consumeTypeId"
                            name="consumeTypeId"
                            type="text">
                        <option>正在拉取...</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">消费项目</label>
                <div class="layui-input-inline">
                    <select autocomplete="off" disabled class="layui-input" id="consumeProjectId"
                            lay-filter="consumeProjectId"
                            name="consumeProjectId"
                            type="text">
                        <option>正在拉取...</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">具体项目</label>
                <div class="layui-input-inline">
                    <select autocomplete="off" disabled id="practicalProjectId" name="practicalProjectId">
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">成本价</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" disabled class="layui-input" id="costPrice" lay-verify="number"
                           name="costPrice"
                           type="text">
                </div>
            </div>
        </div>
        <div class="layui-form-item s-formItem6">
            <div class="layui-bl">
                <label class="layui-form-label">项目备注</label>
                <div class="layui-input-inline" style="width: 800px">
                    <input autocomplete="off" disabled class="layui-input" id="remarkPop" name="remark"
                           type="text">
                </div>
            </div>
        </div>
        <div class="layui-form-item s-formItem6">
            <div class="layui-inline">
                <label class="layui-form-label">工时费</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" disabled id="timeCost" name="timeCost"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">材料费</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" disabled id="matCost" name="matCost"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">总金额</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" disabled id="totalMoney" name="totalMoney"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">行驶里程</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" disabled id="mileage" name="mileage"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">工单号</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" disabled id="ticketID" name="ticketID"
                           type="text">
                </div>
            </div>
        </div>
        <div class="layui-form-item s-formItem6">
            <div class="layui-inline">
                <label class="layui-form-label">是否开票</label>
                <div class="layui-input-inline">
                    <select autocomplete="off" disabled id="invoiceFlag" name="invoiceFlag">
                        <option value="1">是</option>
                        <option selected value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">开票金额</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="invoiceNum" name="invoiceNum"
                           disabled type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">发票号</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="invoiceID" name="invoiceID"
                           disabled type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">增加发票</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="addInvoice" name="addInvoice"
                           disabled type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">本次开票</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="currentInvoice" name="currentInvoice"
                           disabled type="text">
                </div>
            </div>
        </div>
        <div class="layui-form-item s-formItem6">
            <div class="layui-inline">
                <label class="layui-form-label">剩余开票</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="resInvoice" name="resInvoice"
                           disabled type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">支付方式</label>
                <div class="layui-input-inline">
                    <select autocomplete="off" id="payStyle" name="payStyle" disabled>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">数量</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="num" lay-verify="required|number" name="num"
                           disabled type="text">
                </div>
            </div>

        </div>
    </form>

    <table class="layui-hide" id="showBillTable" lay-filter="showBillTable"></table>
</div>

<script src="plugins/layui/layui.js"></script>
<script>
    layui.use(['form', 'laydate', 'table', 'layer', 'element'], function () {
        // tableMain表格
        var $ = layui.jquery,
            form = layui.form,
            tableMain = layui.table,
            laydate = layui.laydate,
            layer = layui.layer,
            element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        laydate.render({
            elem: '#time'
            ,type: 'date'
            ,range: '@'
            ,format: 'yyyy-MM-dd'
        });

        function pullConsumeTypes(selector, callback) {
            var selectE = $(selector);
            $.post({
                url: "service/consumeType/getConsumeTypeNameList",
                timeout: 1000,
                dataType: "json",
                success: function (res) {
                    selectE.empty();
                    for (var s of res) {
                        selectE.append("<option value='" + s.consumeTypeId + "'>" + s.name + "</option>");
                    }
                    callback();
                    form.render(); //layui的form重新渲染
                },
                error: function () {
                    selectE.empty();
                    selectE.append("<option>拉取失败，请刷新！</option>");
                    form.render();
                }
            })
        }

        function pullConsumeItems(selector, consumeTypeId, callback) {
            var selectE2 = $(selector);
            $.post({
                url: "service/consumeProject/getConsumeProjectNameList?query=&consumeTypeId=" + consumeTypeId,
                timeout: 1000,
                dataType: "json",
                success: function (res) {
                    selectE2.empty();
                    for (var s of res) {
                        selectE2.append("<option value='" + s.consumeProjectId + "'>" + s.name + "</option>");
                    }
                    callback();
                    form.render(); //layui的form重新渲染
                },
                error: function () {
                    selectE2.empty();
                    selectE2.append("<option>拉取失败，请刷新！</option>");
                    form.render();
                }
            })
        }

        function pullPracticalItemIds(selector, consumeItemId, callback) {
            var selectE2 = $(selector);
            $.post({
                url: "service/practicalProject/getPracticalProjectListByConsumeProject?consumeProjectId=" + consumeItemId,
                timeout: 1000,
                dataType: "json",
                success: function (res) {
                    res = res.data;
                    selectE2.empty();
                    for (var s of res) {
                        selectE2.append("<option value='" + s.practicalProjectId + "'>" + s.name + "</option>");
                    }
                    callback();
                    form.render(); //layui的form重新渲染
                },
                error: function () {
                    selectE2.empty();
                    selectE2.append("<option>拉取失败，请刷新！</option>");
                    form.render();
                }
            })
        }

        function pullPay(selector, userid, consumeProjectId, callback) {
            var selectE2 = $(selector);
            $.post({
                url: "service/useCard/getEnablePayCoupon?userid=" + userid + "&consumeProjectId=" + consumeProjectId,
                timeout: 1000,
                dataType: "json",
                success: function (res) {
                    selectE2.empty()
                    selectE2.append('<option value="-1">卡券发放</option>');
                    selectE2.append('<option value="-2">储值</option>');
                    for (var s in res) { // value = "couponId, couponType"
                        console.log(res[s])
                        if(res[s].coupon.type === 1)
                            selectE2.append("<option value='" + s + "," + res[s].coupon.type + "'>" + res[s].coupon.name + "(剩余" + parseFloat(res[s].money).toFixed(2) + "元)" + "</option>");
                        else if(res[s].coupon.type === 0)
                            selectE2.append("<option value='" + s + "," + res[s].coupon.type + "'>" + res[s].coupon.name + "(剩余 " + parseInt(res[s].money) + " 张)" + "</option>");
                    }
                    callback();
                    form.render(); //layui的form重新渲染
                },
                error: function () {
                    selectE2.empty();
                    selectE2.append("<option>拉取失败，请刷新！</option>");
                    form.render();
                }
            })
        }

        // 表格渲染
        var tableIns = tableMain.render({
            elem: '#tableMain'
            ,height: 'full-180'
            ,size: 'sm' //小尺寸的表格
            ,url: 'service/useCardHistory/getUseCardHistoryList' //数据接口
            ,method: "post"
            ,contentType: "application/json"
            ,where: {
                couponCheck: {},
                user: {
                    vehicle: {},
                },
                groupBy: false
            }
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['prev', 'page', 'next', 'skip', 'count'], //自定义分页布局
                limit: 15,
                //,curr: 5 //设定初始在第 5 页
                groups: 3, //只显示 1 个连续页码
                first: false, //不显示首页
                last: false //不显示尾页
            }
            ,toolbar: true //仅开启工具栏，不显示左侧模板
            ,defaultToolbar: ['filter', 'print', 'exports'] //头部工具栏右侧图标
            ,cols: [ [ //表头，两个中括号之间一定要加空格不然会出错，有冲突
                {type: 'checkbox', fixed: 'left'}
                // ,{field: 'id', title: '', width:80, sort: true, fixed: 'left'}
                ,{field: 'time', title: '消费日期', width: 110, sort: true}
                ,{field: 'groupId', title: '流水号', width: 100, sort: true}
                ,{field: 'customername', title: '客户名称', width: 110, sort: true}
                ,{field: 'memberNumber', title: '会员卡号', width: 110, sort: true}
                ,{field: 'vin', title: '车架号', width: 100, sort: true}
                ,{field: 'platenumber', title: '车牌号', width: 100, sort: true}
                ,{field: 'consumeTypeName', title: '消费类型', width: 110, sort: true}
                ,{field: 'consumeProjectName', title: '消费项目', width: 110, sort: true}
                ,{field: 'practicalProjectName', title: '具体项目', width: 110, sort: true}
                ,{field: 'payStyleName', title: '支付方式', width: 110, sort: true}
                ,{field: 'timeCost', title: '工时费', width: 100, sort: true}
                ,{field: 'matCost', title: '材料费', width: 100, sort: true}
                ,{field: 'totalMoney', title: '总金额', width: 100, sort: true}
                ,{field: 'ticketID', title: '工单号', width: 100, sort: true}
                ,{field: 'mileage', title: '行驶里程', width: 110, sort: true}
                ,{field: 'count', title: '数量', width: 80, sort: true}
                ,{field: 'invoiceID', title: '发票号', width: 100, sort: true}
                ,{field: 'invoiceNum', title: '开票金额', width: 110, sort: true}
                ,{field: 'costPrice', title: '成本价', width: 100, sort: true}
                ,{field: 'remark', title: '项目备注', width: 110, sort: true}
                ,{field: 'operation', width: 88, title: '操作', toolbar: '#operation', fixed: 'right'}
            ] ]
        });

        //监听“会员档案表格”工具条
        var activeItem;
        tableMain.on('tool(tableMain)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            activeItem = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent === 'showBill') {
                let loadMsg = layer.load(2)
                pullConsumeTypes("#consumeTypeId", () => {
                    pullConsumeItems("#consumeProjectId", $("#consumeTypeId").val(), () => {
                        pullPracticalItemIds("#practicalProjectId", $("#consumeProjectId").val(), () => {
                            pullPay("#payStyle", activeItem.userId, $("#consumeProjectId").val(), () => {
                                tableMain.render({
                                    elem: '#showBillTable',
                                    url: "service/useCardHistory/getShowBillList",
                                    method: "post",
                                    contentType: "application/json",
                                    where: {
                                        user: {},
                                        couponCheck: {
                                            groupId: activeItem.groupId
                                        },
                                        groupBy: false
                                    },
                                    height: 288,
                                    page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                                        layout: ['prev', 'page', 'next', 'skip', 'count'], //自定义分页布局
                                        limit: 10,
                                        groups: 3, //只显示 1 个连续页码
                                        first: false, //不显示首页
                                        last: false //不显示尾页
                                    },
                                    cols: [ [
                                        {type: 'numbers'},
                                        {field: 'consumeTypeName', width: 150, title: '消费类型'},
                                        {field: 'consumeProjectName', width: 170, title: '消费项目'},
                                        {field: 'practicalProjectName', width: 170, title: '具体项目'},
                                        {field: 'payStyleName', width: 170, title: '支付方式'}, //单元格内容水平居中
                                        {field: 'timeCost', width: 80, title: '工时费'},
                                        {field: 'matCost', width: 80, title: '材料费'},
                                        {field: 'totalMoney', width: 110, title: '总金额'},
                                        {field: 'ticketID', width: 90, title: '工单号'},
                                        {field: 'mileage', width: 90, title: '行驶里程'},
                                        {field: 'num', width: 100, title: '数量'},
                                        {field: 'invoiceID', width: 88, title: '发票号'},
                                        {field: 'invoiceNum', width: 88, title: '开票金额'},
                                        {field: 'costPrice', width: 88, title: '成本价'},
                                        {field: 'scoreCount', width: 88, title: '本次积分'},
                                        {field: 'remark', width: 88, title: '项目备注'}
                                    ] ],
                                    size: 'sm',
                                    parseData: function (res) {
                                        let data = res.data
                                        for (var i = 0; i < data.length; i++) {
                                            if (data[i].payStyle === "-1") {
                                                data[i].payStyleName = "卡券发放";
                                                data[i].num = parseInt(data[i].count).toFixed(0)
                                                // data[i].totalMoney = data[i].count
                                            } else if (data[i].payStyle === "-2") {
                                                data[i].payStyleName = "储值";
                                                data[i].num = parseFloat(data[i].money).toFixed(2);
                                                // data[i].totalMoney = data[i].money;
                                            } else {
                                                $.post({
                                                    url: "service/coupon/getCoupon?couponId=" + data[i].payStyle,
                                                    async: false,
                                                    success: function (res) {
                                                        data[i].payStyleName = res.name
                                                        data[i].num = parseFloat(data[i].totalMoney).toFixed(2);
                                                    }
                                                })
                                            }
                                            data[i].totalMoney = ""
                                        }
                                        res.data = data
                                        return res
                                    },
                                    done: function () {
                                        var index1 = layer.open({
                                            type: 1,
                                            title: '显示原单',
                                            content: $('#showBillWindow'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                                            area: ['100%', '100%']
                                        });
                                        layer.close(loadMsg)
                                        $('#exit1').on('click', function () {
                                            // 关闭当前弹出层
                                            layer.close(index1);
                                        })
                                    }
                                });
                            });
                        })
                    })
                })
                $("#time2").val(activeItem.time)
                $("#consumeProjectId").val(activeItem.consumeProjectId)
                $("#consumeTypeId").val(activeItem.consumeTypeId)
                $("#count").val(activeItem.count)
                $("#payStyle").val(activeItem.payStyle)
                $("#practicalProjectId").val(activeItem.practicalProjectId)
                $("#totalMoney").val(activeItem.totalMoney)
                $("#userId").val(activeItem.userId)
                $("#vehicleId").val(activeItem.vehicleId)
                $("#platenumberPop").val(activeItem.platenumber)
                $("#vinPop").val(activeItem.vin)
                $("#memberNumberPop").val(activeItem.memberNumber)
                $("#memberlevelPop").val(activeItem.memberlevel)
                $("#customernamePop").val(activeItem.customername)
                $("#remarkPop").val(activeItem.remark)
            }
        });


        // 监听查询按钮
        $("#queryBtn").unbind("click").click(function () {
            tableIns.reload({
                url: 'service/useCardHistory/getUseCardHistoryList',
                where: {
                    user: {
                        customername: $("#customername").val(),
                        memberNumber: $("#memberNumber").val(),
                        vehicle: {
                            vin: $("#vin").val(),
                            platenumber: $("#platenumber").val()
                        },
                    },
                    couponCheck: {
                        time: $("#time").val().replace(/ @ /, "@"),
                    },
                    groupBy: true
                },
                page: {
                    curr: 1
                }
            })
            return false;
        })


    });
</script>
</body>
</html>