<!DOCTYPE html>
<html lang="zh_CN"
>
<head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="plugins/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="plugins/font-awesome/css/font-awesome.min.css" media="all" rel="stylesheet">
    <link href="plugins/adjust/css/adjustLayui.css" media="all" rel="stylesheet">
    <link href="css/table.css" media="all" rel="stylesheet">
    <link href="css/form.css" media="all" rel="stylesheet">
    <link href="css/common.css" media="all" rel="stylesheet">
</head>
<body>
<div class="layui-fluid main">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="s-headerSearch" id="headArea">
                <form action="" autocomplete="off" class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">用户名称</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="userNameSearch" placeholder="请输入用户名称"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <label class="layui-form-label">所属店面</label>
                            <div class="layui-input-inline">
                                <select autocomplete="off" class="layui-input" id="dealerSearch" placeholder="请输入卡券名称"
                                        type="text">
                                    <option>烟台顺合广汽本田</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline s-layuiInline">
                            <button class="layui-btn layui-btn-warm" id="queryBtn">查询</button>
                            <button class="layui-btn layui-btn-normal" id="addBtn">新增用户</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- 展示表格 -->
            <div class="s-commonTable">
                <table class="layui-hide" id="user" lay-filter="userTable"></table>
                <script id="operation" type="text/html">
                    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit">修改</a>
                    <a class="layui-btn layui-btn-xs" lay-event="resetPw">重置密码</a>
                </script>
            </div>
        </div>
    </div>
</div>

<!-- 用户弹窗 -->
<div class="s-details" id="addWindow">
    <form id="platUserForm" autocomplete="off" class="layui-form">
        <div class="layui-form-item s-formItem1">
            <div class="layui-inline">
                <label class="layui-form-label"><i>*</i>用户名称</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="name"
                           lay-verify="required" name="name" type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><i>*</i>联系电话</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="phoneNum"
                           lay-verify="number" name="phoneNum" type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">所属门店</label>
                <div class="layui-input-inline">
                    <select autocomplete="off" class="layui-input" id="dealerId" name="dealerId" type="text">
                        <option value="0">烟台顺合广汽本田</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item s-formItem1">
            <div class="layui-inline">
                <label class="layui-form-label"><i>*</i>登录用户名</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="username"
                           lay-verify="required" name="username" type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><i>*</i>登录密码</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="password"
                           lay-verify="required" name="password" type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">所属职位</label>
                <div class="layui-input-inline">
                    <select autocomplete="off" class="layui-input" id="post" name="post" type="text">
                        <option>---</option>
                        <option>销售顾问</option>
                        <option>服务顾问</option>
                        <option>业务员</option>
                        <option>管理员</option>
                        <option>招揽专员</option>
                        <option>保客主管</option>
                        <option>保客专员</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item s-formItem1">
            <div class="layui-inline">
                <label class="layui-form-label">操作类型</label>
                <div class="layui-input-inline">
                    <select autocomplete="off" class="layui-input" id="operateType" name="operateType" type="text">
                        <option>---</option>
                        <option>本店</option>
                        <option>个人</option>
                        <option>全部</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="s-tabBottomButton">
            <button class="layui-btn" id="confirmAdd" lay-filter="confirmAdd" lay-submit type="button">确认</button>
            <button class="layui-btn layui-btn-warm" id="cancelAdd" type="button">取消</button>
        </div>
    </form>
</div>

<script src="plugins/layui/layui.js"></script>
<script>
    layui.use(['form', 'laydate', 'table', 'layer', 'element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer,
            table = layui.table,
            element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //日期
        laydate.render({
            elem: '#date'
        });

        // “用户表格”渲染
        var tablePlatUser = table.render({
            elem: '#user',
            url: 'service/platUserManage/getUserList?query=',
            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['prev', 'page', 'next', 'skip', 'count'], //自定义分页布局
                limit: 15,
                //,curr: 5 //设定初始在第 5 页
                groups: 3, //只显示 1 个连续页码
                first: false, //不显示首页
                last: false //不显示尾页
            },
            height: 'full-100',
            cols: [ [
                // {type: 'checkbox'},
                {field: 'platUserId', width: '120', title: '用户编号'},
                {field: 'name', width: '120', title: '用户名称'},
                {field: 'username', width: '120', title: '登录用户名'},
                {field: 'phone', width: '150', title: '联系电话'},
                // {field: '-', width: '7%', title: '所属角色'},
                {field: 'post', width: '120', title: '所属职位'},
                // {field: 'orderID', width: '7%', title: '顺序号'},
                {field: 'operateType', width: '80', title: '操作类型'},
                {field: 'dealerId', width: '150', title: '所属门店'},
                {field: '-', width: '100', title: '指定IP登入'},
                {field: 'platUserId', hide: true},
                // {field: 'lastEditTime', width: '14%', title: '最后编辑时间'},
                {field: 'operation', width: '200', title: '操作', toolbar: '#operation', fixed: 'right'}
            ]],
            size: 'sm',
            parseData: (res) => {
                // TODO 因为只有唯一的值“烟台顺合广汽本田”，暂不做处理
                for(let i = 0; i < res.data.length; i++){
                    res.data[i].dealerId = "烟台顺合广汽本田"
                }
            }
        });

        var activeUser
        table.on('tool(userTable)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            activeUser = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值f）
            if (layEvent === 'resetPw') {
                layer.prompt({
                    formType: 1,
                    title: '请输入新密码'
                }, function(newPasswd, index) {
                    let loadMsg = layer.load(1)
                    $.post({
                        url: "service/platUserManage/resetPassword",
                        data: {
                            platUserId: activeUser.platUserId,
                            passwd: newPasswd
                        },
                        success: function (res) {
                            layer.close(loadMsg)
                            if(res === "成功")
                                layer.alert(res, {icon: 1}, () => {layer.closeAll()})
                            else
                                layer.alert(res, {icon: 2}, () => {layer.closeAll()})
                        }
                    })
                    layer.close(index);
                });
            } else if (layEvent === "edit") {
                $("#name").val(activeUser.name)
                $("#phoneNum").val(0) //待接口返回再做处理
                $("#username").val(activeUser.username)
                $("#username").attr('disabled', true)
                $("#password").attr('disabled', true)
                $("#password").val("******")
                $("#post").val(activeUser.post)
                $("#operateType").val(activeUser.operateType)
                $("#dealerId").val(activeUser.dealerId)
                form.render("select")
                layer.open({
                    type: 1,
                    title: '修改用户',
                    content: $('#addWindow'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                    area: ['1022px', '500px']
                });
                form.on('submit(confirmAdd)', function (formData) {
                    formData.field.platUserId = activeUser.platUserId
                    $.post({
                        url: "service/platUserManage/editUser",
                        data: JSON.stringify(formData.field),
                        contentType: "application/json",
                        success: function (res) {
                            if(res === "修改成功！") {
                                layer.alert("修改成功！", {icon: 1}, () => {layer.closeAll();obj.update(formData.field)})
                            } else
                                layer.alert(res, {icon: 2}, () => {layer.closeAll()})
                        }
                    })
                })
            }
        });

        $("#addBtn").unbind("click").click(function () {
            $("#platUserForm").trigger("reset")
            $("#username").attr('disabled', false)
            $("#password").attr('disabled', false)
            layer.open({
                type: 1,
                title: '新增用户',
                content: $('#addWindow'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                area: ['1022px', '500px']
            });
            form.on('submit(confirmAdd)', function (data) {
                $.post({
                    url: "service/platUserManage/addUser",
                    data: JSON.stringify(data.field),
                    contentType: "application/json",
                    success: function (res) {
                        layer.alert("信息:" + res)
                        tablePlatUser.reload()
                    }
                })
            })
            return false;
        })

        $("#cancelAdd, #cancelMod, #cancelRel").unbind("click").click(function () {
            layer.closeAll()
        })

        $("#queryBtn").unbind("click").click(function () {
            tablePlatUser.reload({
                url: 'service/platUserManage/getUserList?query=' + $("#userNameSearch").val(),
                page: {
                    curr: 1
                }
            })
            return false;
        })
    });
</script>
</body>
</html>