<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" >

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>顺合会员系统</title>
    <link href="plugins/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="plugins/font-awesome/css/font-awesome.min.css" media="all" rel="stylesheet">
    <link href="menu/common/css/app.css" media="all" rel="stylesheet"/>
    <link href="menu/common/css/default.css" id="skin" kit-skin media="all" rel="stylesheet"/>
    <link href="css/table.css" media="all" rel="stylesheet">
    <link href="css/form.css" media="all" rel="stylesheet">
    <link href="plugins/adjust/css/redTheme.css" media="all" rel="stylesheet">
    <style type="text/css">
        .layui-btn {
            height: 32px;
            line-height: 32px;
        }

        .layui-nav .layui-nav-item a {
            padding: 0 8px;
        }
    </style>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div class="layui-header">
        <span style="padding-left: 20px"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" x="0" y="0" viewBox="0 -65 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m284.284 276-60-60h-96.568l-60 60 108.284 108.284zm-140-20h63.432l20 20-51.716 51.716-51.716-51.716z" fill="#ff0000" data-original="#000000" style="" class=""/><path d="m316 236h120v40h-120z" fill="#ff0000" data-original="#000000" style="" class=""/><path d="m316 316h120v40h-120z" fill="#ff0000" data-original="#000000" style="" class=""/><path d="m452 56h-392c-33.084 0-60 26.916-60 60v280c0 33.084 26.916 60 60 60h392c33.084 0 60-26.916 60-60 0-28.521 0-251.2 0-280 0-33.084-26.916-60-60-60zm20 340c0 11.028-8.972 20-20 20h-392c-11.028 0-20-8.972-20-20v-220h432zm-432-260v-20c0-11.028 8.972-20 20-20h392c11.028 0 20 8.972 20 20v20z" fill="#ff0000" data-original="#000000" style="" class=""/></g></g></svg></span>
        <a class="layui-logo" style="line-height: 38px;margin-left: 5px" onclick="location.href='index.html'">
            顺合会员系统
        </a>
        <ul class="layui-nav layui-layout-right kit-nav">
            <li class="layui-nav-item"><a class="s-headPortrait" href="javascript:" id="loginName">正在加载... </a></li>
            <li class="layui-nav-item"><a class="s-logout" href="javascript:" id="changePassword"><i
                    aria-hidden="true" class="fa fa-pencil-square"></i> 修改密码</a></li>
            <li class="layui-nav-item">
                <a class="s-logout" id="logout"><i aria-hidden="true" class="fa fa-sign-out"></i> 注销</a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black kit-side">
        <div class="layui-side-scroll">
            <div class="kit-side-fold"><i aria-hidden="true" class="fa fa-navicon"></i></div>
            <!-- 左侧导航区域（可配合layui已有的垂直导航）-->
            <ul class="layui-nav layui-nav-tree" kit-navbar lay-filter="kitNavbar">
                <li shiro:hasPermission="member:archivesRoot" class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:"><i aria-hidden="true" class="fa fa-plug"></i><span> 微会员</span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a data-options="{url:'memberArchives.html',icon:'&#xe658;',title:'会员档案',id:'1'}"
                               href="javascript:"
                               kit-target><i
                                    class="layui-icon">&#xe658;</i><span> 会员档案</span></a>
                        </dd>
                    </dl>
                </li>
                <li shiro:hasPermission="member:memberUseCouponRoot" class="layui-nav-item">
                    <a class="" href="javascript:"><i aria-hidden="true" class="fa fa-plug"></i><span> 微会员用卡</span></a>
                    <dl class="layui-nav-child">
                        <dd shiro:hasPermission="member:memberUseCoupon:useCoupon">
                            <a data-options="{url:'useCard.html',icon:'&#xe658;',title:'用卡',id:'2'}" href="javascript:"
                               kit-target><i
                                    class="layui-icon">&#xe658;</i><span> 用卡</span></a>
                        </dd>
                        <dd shiro:hasPermission="member:memberUseCoupon:cancelConsume">
                            <a data-options="{url:'cancelConsume.html',icon:'&#xe658;',title:'反结算',id:'3'}"
                               href="javascript:"
                               kit-target><i
                                    class="layui-icon">&#xe658;</i><span> 反结算</span></a>
                        </dd>
                        <dd shiro:hasPermission="member:memberUseCoupon:review">
                            <a data-options="{url:'pendingReview.html',icon:'&#xe658;',title:'待审核',id:'4'}"
                               href="javascript:"
                               kit-target><i
                                    class="layui-icon">&#xe658;</i><span> 待审核</span></a>
                        </dd>
                    </dl>
                </li>
                <li shiro:hasPermission="member:customParametersRoot" class="layui-nav-item">
                    <a class="" href="javascript:"><i aria-hidden="true" class="fa fa-plug"></i><span> 自定义参数</span></a>
                    <dl class="layui-nav-child">
                        <dd shiro:hasPermission="member:customParameters:coupon:list">
                            <a data-options="{url:'coupon.html',icon:'&#xe658;',title:'卡券',id:'5'}" href="javascript:"
                               kit-target><i
                                    class="layui-icon">&#xe658;</i><span> 卡券</span></a>
                        </dd>
                        <dd shiro:hasPermission="member:customParameters:consumeType:list">
                            <a data-options="{url:'consumeType.html',icon:'&#xe658;',title:'消费类型',id:'6'}"
                               href="javascript:"
                               kit-target><i
                                    class="layui-icon">&#xe658;</i><span> 消费类型</span></a>
                        </dd>
                        <dd shiro:hasPermission="member:customParameters:consumeItem:list">
                            <a data-options="{url:'consumeItem.html',icon:'&#xe658;',title:'消费项目',id:'7'}"
                               href="javascript:"
                               kit-target><i
                                    class="layui-icon">&#xe658;</i><span> 消费项目</span></a>
                        </dd>
                        <dd shiro:hasPermission="member:customParameters:insuranceCompany:list">
                            <a data-options="{url:'insuranceCompany.html',icon:'&#xe658;',title:'保险公司',id:'11'}"
                               href="javascript:"
                               kit-target><i
                                    class="layui-icon">&#xe658;</i><span> 保险公司</span></a>
                        </dd>
                        <dd shiro:hasPermission="member:customParameters:insuranceType:list">
                            <a data-options="{url:'insuranceType.html',icon:'&#xe658;',title:'险种',id:'12'}"
                               href="javascript:"
                               kit-target><i
                                    class="layui-icon">&#xe658;</i><span> 险种</span></a>
                        </dd>
                        <dd shiro:hasPermission="member:customParameters:memberLevel:list">
                            <a data-options="{url:'membershipLevel.html',icon:'&#xe658;',title:'会员级别',id:'13'}"
                               href="javascript:"
                               kit-target><i
                                    class="layui-icon">&#xe658;</i><span> 会员级别</span></a>
                        </dd>
                    </dl>
                </li>
                <li shiro:hasPermission="member:statisticsRoot" class="layui-nav-item">
                    <a class="" href="javascript:"><i aria-hidden="true" class="fa fa-plug"></i><span> 报表中心</span></a>
                    <dl class="layui-nav-child">
                        <dd shiro:hasPermission="member:statistics:useCoupon">
                            <a data-options="{url:'useCardHistory.html',icon:'&#xe658;',title:'用卡历史',id:'23'}" href="javascript:"
                               kit-target><i
                                    class="layui-icon">&#xe658;</i><span> 用卡历史</span></a>
                        </dd>
                        <dd shiro:hasPermission="member:statistics:rollback">
                            <a data-options="{url:'cancelConsumeHistory.html',icon:'&#xe658;',title:'反结算历史',id:'24'}"
                               href="javascript:"
                               kit-target><i
                                    class="layui-icon">&#xe658;</i><span> 反结算历史</span></a>
                        </dd>
                        <dd shiro:hasPermission="member:statistics:coupon">
                            <a data-options="{url:'couponStatistical.html',icon:'&#xe658;',title:'卡券统计',id:'25'}"
                               href="javascript:"
                               kit-target><i
                                    class="layui-icon">&#xe658;</i><span> 卡券统计</span></a>
                        </dd>
                        <dd shiro:hasPermission="member:statistics:balance">
                            <a data-options="{url:'balanceStatistical.html',icon:'&#xe658;',title:'储值统计',id:'26'}"
                               href="javascript:"
                               kit-target><i
                                    class="layui-icon">&#xe658;</i><span> 储值统计</span></a>
                        </dd>
<!--                        <dd>-->
<!--                            <a data-options="{url:'memberArchives1.html',icon:'&#xe658;',title:'群发统计',id:'27'}"-->
<!--                               href="javascript:"-->
<!--                               kit-target><i-->
<!--                                    class="layui-icon">&#xe658;</i><span> 群发统计</span></a>-->
<!--                        </dd>-->
<!--                        <dd>-->
<!--                            <a data-options="{url:'memberArchives1.html',icon:'&#xe658;',title:'抽奖统计',id:'28'}"-->
<!--                               href="javascript:"-->
<!--                               kit-target><i-->
<!--                                    class="layui-icon">&#xe658;</i><span> 抽奖统计</span></a>-->
<!--                        </dd>-->
                    </dl>
                </li>
                <li shiro:hasPermission="member:management" class="layui-nav-item">
                    <a class="" href="javascript:"><i aria-hidden="true" class="fa fa-plug"></i><span> 系统管理</span></a>
                    <dl class="layui-nav-child">
<!--                        <dd>-->
<!--                            <a data-options="{url:'card.html',icon:'&#xe658;',title:'经销商定义',id:'29'}" href="javascript:"-->
<!--                               kit-target><i-->
<!--                                    class="layui-icon">&#xe658;</i><span> 经销商定义</span></a>-->
<!--                        </dd>-->
                        <dd>
                            <a data-options="{url:'operationLog',icon:'&#xe658;',title:'操作日志',id:'30'}"
                               href="javascript:"
                               kit-target><i
                                    class="layui-icon">&#xe658;</i><span> 操作日志</span></a>
                        </dd>
<!--                        <dd>-->
<!--                            <a data-options="{url:'memberArchives1.html',icon:'&#xe658;',title:'权限管理',id:'31'}"-->
<!--                               href="javascript:"-->
<!--                               kit-target><i-->
<!--                                    class="layui-icon">&#xe658;</i><span> 权限管理</span></a>-->
<!--                        </dd>-->
                        <dd>
                            <a data-options="{url:'userManagement.html',icon:'&#xe658;',title:'用户管理',id:'32'}"
                               href="javascript:"
                               kit-target><i
                                    class="layui-icon">&#xe658;</i><span> 用户管理</span></a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body" id="container">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">主体内容加载中,请稍等...</div>
        <div><p></p></div>
    </div>
</div>

<!-- 修改密码弹窗 -->
<div class="s-details" id="changePasswordWin">
    <form action="" autocomplete="off" class="layui-form">
<!--        <div class="layui-form-item s-formItem4">-->
<!--            <label class="layui-form-label">旧密码</label>-->
<!--            <div class="layui-input-block">-->
<!--                <input autocomplete="off" class="layui-input" lay-verify="required" name="oldPassword"-->
<!--                       placeholder="请输入旧密码"-->
<!--                       type="password">-->
<!--            </div>-->
<!--        </div>-->
        <div class="layui-form-item s-formItem4">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" lay-verify="required|pass" name="password"
                       placeholder="请输入6到12位新密码" type="password">
            </div>
        </div>
        <div class="layui-form-item s-formItem4">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" lay-verify="required|repass" name="confirmPassword"
                       placeholder="请输入确认密码" type="password">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block s-submitButton5">
                <button class="layui-btn" lay-filter="save" lay-submit type="button">确认</button>
                <a class="layui-btn layui-btn-danger" id="cancel">取消</a>
            </div>
        </div>
    </form>
</div>

<script src="plugins/layui/layui.js"></script>
<script>
    layui.use(['form', 'layer'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer;

        let currentUserid;
        $.get({
            url: "service/platUserManage/getCurrentLoginUser",
            success: function (res) {
                currentUserid = res.platUserId
                $("#loginName").html(res.name + " ")
            }
        })
        $("#logout").unbind("click").click(function () {
            location.href = "/logout";
        })
        // 自定义各种表单验证规则
        form.verify({

            // 既支持上述函数式的方式，也支持下述数组的形式
            // 数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
            // 密码验证
            pass: [
                /^[\S]{6,12}$/,
                '密码必须6到12位，且不能出现空格'
            ],

            // 确认密码验证
            repass: function (value, item) { //value：表单的值、item：表单的DOM对象
                var passwordValue = $('input[name=password]').val();
                // 判断条件也可为：!new RegExp(passwordValue).test(value)
                if (value != passwordValue) {
                    return '两次输入的密码不一致!';
                }
            }
        });

        // 显示“修改密码”弹窗
        $('body').on('click', '#changePassword', function () {
            var index = layer.open({
                type: 1,
                title: '修改密码',
                content: $('#changePasswordWin'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                area: '300px'
            });
            form.on('submit(save)', function (data) {
                $.post({
                    url: "service/platUserManage/resetPassword",
                    data: {
                        platUserId: currentUserid,
                        passwd: data.field.password
                    },
                    success: function (res) {
                        layer.alert(res, {icon: 1});
                    }
                })
                // 关闭当前弹出层
                layer.close(index);
            });
            $('#cancel').on('click', function () {
                // 关闭当前弹出层
                layer.close(index);
            });
        });
    }).config({
        base: 'menu/common/js/'
    }).use(['app'], function () {
        var app = layui.app;
        //主入口
        app.set({
            type: 'iframe'
        }).init();
    });
</script>
</body>
</html>